

        <%- body %>

        <!-- Footer -->
        <footer class="overflow-hidden">
          <div class="bg-slate-100 dark:bg-scalelot-primary dark:text-white dark:bg-opacity-40 relative">
            <svg class="-rotate-45 opacity-10 z-0 absolute bottom-24 md:bottom-[10%] brightness-75 dark:brightness-0 left-0 right-0 md:right-auto mx-auto md:-left-[10%] h-60 md:h-[75%] w-auto" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 925.78 879.41"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#ee3139;}</style></defs><path class="cls-1" d="M407.58,568.29H469a6.52,6.52,0,0,1,4.41,3.05c6.85,12,13.6,23.93,20,36.06a8.39,8.39,0,0,0,8.57,5.21q206.44,0,412.86-.31a113.4,113.4,0,0,1,46.75,9.89,167.74,167.74,0,0,1,91.33,94.64c1.37,3.4,1.15,4.86-2.38,6.58q-93.31,44.37-186.42,89L625.77,926.07c-1.67.75-3.31,1.59-5.47,2.65,1.72,1.28,3.05,2.29,4.41,3.22,78.8,56,161.7,105.94,242.79,158.34q56.5,36.6,113.45,72.44a8.52,8.52,0,0,1,4.41,9.36c-5.39,57-29.36,105.45-67.45,147.39-30.15,33.28-66.79,57.78-107,77.21-3.71,1.76-4.42-.45-5.3-2.61q-39.72-82.46-79.72-164.87Q568.07,901.84,410.58,574.3A67.1,67.1,0,0,1,407.58,568.29Z" transform="translate(-127.95 -568.29)"/><path class="cls-1" d="M590.19,1126.39c-11.3-7.42-21.8-15-32.93-21.54Q392.92,1008,228.8,911.55a6.35,6.35,0,0,1-4-6.84A534.48,534.48,0,0,1,256.7,761a270.49,270.49,0,0,1,45.07-79c23.88-28.08,53.28-47,90.14-53,10.46-1.76,10.46-1.94,15.09,7.82q141.91,299.94,283.75,600,47.46,100.31,94.69,200.81c.7,1.5,1.37,3.09,2.25,5.12l-34.3,3c-6.84.62-13.73,1-20.57,1.81a5.09,5.09,0,0,1-6.14-3.27c-6.75-14.08-13.95-27.94-20.74-42a6.1,6.1,0,0,0-6.32-4.06H147.84c-4.41,0-9.14-.22-13.64.22s-5.3-1.85-6.09-4.94a29.32,29.32,0,0,1,12.54-27.24l444.51-237.09C586.62,1128.42,588.08,1127.58,590.19,1126.39Z" transform="translate(-127.95 -568.29)"/><path class="cls-2" d="M155.61,1254.89c1.94-9.36,3.62-17.66,5.39-25.78q21.5-101.53,43.08-202.61c.62-2.92,1.15-3.62,4-1.9q95.86,57.64,191.84,115.17a26.37,26.37,0,0,1,2.3,1.67Z" transform="translate(-127.95 -568.29)"/><path class="cls-2" d="M1044.73,830.1c-5.25,26.8-10.28,52.53-15.32,78.27q-13.82,71.11-27.76,142.18c-1.33,6.8-1.24,6.84-7.2,3.49L812.67,951.5c-1.45-.8-2.87-1.73-4.85-3Z" transform="translate(-127.95 -568.29)"/></svg>
            <div class="w-full flex flex-wrap bg-white bg-opacity-50 dark:bg-black dark:bg-opacity-10 text-left overflow-hidden">
              <div class="w-full md:w-1/2">
                <div class="relative w-full h-48 md:h-full md:min-h-[250px]">
                  <iframe class="w-full h-full object-cover absolute inset-0" title="Scalelot Map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.2779513262235!2d72.80684800983268!3d21.220823912414286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34936c011302a1ab!2sScalelot%20Technologies!5e0!3m2!1sen!2sin!4v1648029206126!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
              <div class="w-full md:w-1/2 flex flex-wrap py-5 px-1 md:px-4 lg:p-9 xl:py-12">
                <!-- Address -->
                <div class="w-full xl:w-1/2 md:px-3.5 flex flex-col text-left mb-4 md:mb-7">
                  <h5 class="text-current text-xl md:text-2xl block md:mb-1.5 mx-2.5">Address</h5>
                  <div class="flex flex-wrap items-start text-left flex-col space-y-3">
                    <p class="opacity-75 text-current hover:opacity-100 text-xs font-medium flex items-center mx-2.5">
                      <img class="w-6 mx-auto h-auto hidden dark:block" src="/assets/images/flag/inr-dark.gif" alt="indian flag" />
                      <img class="w-6 mx-auto h-auto block dark:hidden" src="/assets/images/flag/inr-light.gif" alt="indian flag" /> 
                      <span class="block pl-2">Katargam, Surat, India</span>
                    </p>
                    <p class="opacity-75 text-current hover:opacity-100 text-xs font-medium flex items-center mx-2.5">
                      <img class="w-6 mx-auto h-auto hidden dark:block" src="/assets/images/flag/ca-dark.gif" alt="canada flag" />
                      <img class="w-6 mx-auto h-auto block dark:hidden" src="/assets/images/flag/ca-light.gif" alt="canada flag" />
                      <span class="block pl-2">Midland, On l4r 5a9, Canada</span>
                    </p>
                    <p class="opacity-75 text-current hover:opacity-100 text-xs font-medium flex items-center mx-2.5">
                      <img class="w-6 mx-auto h-auto hidden dark:block" src="/assets/images/flag/us-dark.gif" alt="usa flag" />
                      <img class="w-6 mx-auto h-auto block dark:hidden" src="/assets/images/flag/us-light.gif" alt="usa flag" />
                      <span class="block pl-2">Canton, Michigan, USA 48187</span>
                    </p>
                  </div>
                </div>
                <!-- Contact no. -->
                <div class="w-full xl:w-1/2 md:px-3.5 flex flex-col text-left mb-4 md:mb-7">
                  <h5 class="text-current text-xl md:text-2xl block md:mb-1.5 mx-2.5">Call</h5>
                  <div class="flex flex-wrap items-start text-left flex-col space-y-3">
                    <a href="tel:+(91)-878-033-3608" class="opacity-75 text-current hover:opacity-100 hover:text-scalelot-secondary anim text-xs font-medium flex items-center mx-2.5" title="+(91) 878 033 3608">
                      <img class="w-6 mx-auto h-auto hidden dark:block mr-2" src="/assets/images/flag/inr-dark.gif" alt="indian flag" />
                      <img class="w-6 mx-auto h-auto block dark:hidden mr-2" src="/assets/images/flag/inr-light.gif" alt="indian flag" /> 
                      +(91) 878 033 3608
                    </a>
                    <a href="tel:+1-(437)-224-4165" class="opacity-75 text-current hover:opacity-100 hover:text-scalelot-secondary anim text-xs font-medium flex items-center mx-2.5" title="+1 (437) 224 4165">
                      <img class="w-6 mx-auto h-auto hidden dark:block mr-2" src="/assets/images/flag/ca-dark.gif" alt="canada flag" />
                      <img class="w-6 mx-auto h-auto block dark:hidden mr-2" src="/assets/images/flag/ca-light.gif" alt="canada flag" />
                      +1 (437) 224 4165
                    </a>
                    <a href="tel:+1-248-804-6639" class="opacity-75 text-current hover:opacity-100 hover:text-scalelot-secondary anim text-xs font-medium flex items-center mx-2.5" title="+1 248 804 6639">
                      <img class="w-6 mx-auto h-auto hidden dark:block mr-2" src="/assets/images/flag/us-dark.gif" alt="usa flag" />
                      <img class="w-6 mx-auto h-auto block dark:hidden mr-2" src="/assets/images/flag/us-light.gif" alt="usa flag" />
                      +1 248 804 6639
                    </a>
                  </div>
                </div>
                <!-- Mail add -->
                <div class="w-full xl:w-1/2 md:px-3.5 flex flex-col text-left mb-4 md:mb-7">
                  <h5 class="text-current text-xl md:text-2xl block md:mb-1.5 mx-2.5">Get Free Estimation</h5>
                  <div class="flex flex-wrap items-start text-left flex-col space-y-1">
                    <a href="mailto:info@scalelot.com" class="opacity-75 text-current hover:opacity-100 hover:text-scalelot-secondary anim text-sm font-medium mx-2.5">info@scalelot.com</a>
                    <a href="mailto:sales@scalelot.com" class="opacity-75 text-current hover:opacity-100 hover:text-scalelot-secondary anim text-sm font-medium mx-2.5">sales@scalelot.com</a>
                  </div>
                </div>
                <!-- Follow -->
                <div class="w-full xl:w-1/2 md:px-3.5 flex flex-col text-left">
                  <h5 class="text-current text-xl md:text-2xl block md:mb-1.5 mx-2.5">Follow</h5>
                  <div class="flex flex-wrap items-center justify-start text-left">
                    <a target="_blank" href="https://www.facebook.com/scalelottech" class="rounded pr-2 opacity-75 text-current hover:opacity-100 text-sm md:text-base font-medium flex my-1.5 mx-1.5 hover:text-scalelot-secondary anim" title="Facebook"><span class="icon-facebook text-xl"></span></a>
                    <a target="_blank" href="https://www.instagram.com/scalelot_technologies/" class="rounded pr-2 opacity-75 text-current hover:opacity-100 text-sm md:text-base font-medium flex my-1.5 mx-1.5 hover:text-scalelot-secondary anim" title="Instagram"><span class="icon-instagram text-xl"></span></a>
                    <a target="_blank" href="https://www.linkedin.com/company/scalelot-technologies" class="rounded pr-2 opacity-75 text-current hover:opacity-100 text-sm md:text-base font-medium flex my-1.5 mx-1.5 hover:text-scalelot-secondary anim" title="Linkedin"><span class="icon-linkedin text-xl"></span></a>
                    <a target="_blank" href="https://twitter.com/ScalelotT" class="rounded pr-2 opacity-75 text-current hover:opacity-100 text-sm md:text-base font-medium flex my-1.5 mx-1.5 hover:text-scalelot-secondary anim" title="Twitter"><span class="icon-twitter text-xl"></span></a>
                  </div>
                  <div class="flex flex-wrap items-center justify-start text-left">
                    <a target="_blank" href="https://join.skype.com/invite/y01KBTjj8kTx" class="rounded pr-2 opacity-75 text-current hover:opacity-100 text-sm md:text-base font-medium flex my-1.5 mx-1.5 hover:text-scalelot-secondary anim" title="Skype"><span class="icon-skype1 text-xl"></span></a>
                    <a target="_blank" href="https://dribbble.com/scalelot" class="rounded pr-2 opacity-75 text-current hover:opacity-100 text-sm md:text-base font-medium flex my-1.5 mx-1.5 hover:text-scalelot-secondary anim" title="Dribbble">
                      <svg class="text-xl fill-current anim w-5 h-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.628 0-12 5.373-12 12s5.372 12 12 12 12-5.373 12-12-5.372-12-12-12zm9.885 11.441c-2.575-.422-4.943-.445-7.103-.073-.244-.563-.497-1.125-.767-1.68 2.31-1 4.165-2.358 5.548-4.082 1.35 1.594 2.197 3.619 2.322 5.835zm-3.842-7.282c-1.205 1.554-2.868 2.783-4.986 3.68-1.016-1.861-2.178-3.676-3.488-5.438.779-.197 1.591-.314 2.431-.314 2.275 0 4.368.779 6.043 2.072zm-10.516-.993c1.331 1.742 2.511 3.538 3.537 5.381-2.43.715-5.331 1.082-8.684 1.105.692-2.835 2.601-5.193 5.147-6.486zm-5.44 8.834l.013-.256c3.849-.005 7.169-.448 9.95-1.322.233.475.456.952.67 1.432-3.38 1.057-6.165 3.222-8.337 6.48-1.432-1.719-2.296-3.927-2.296-6.334zm3.829 7.81c1.969-3.088 4.482-5.098 7.598-6.027.928 2.42 1.609 4.91 2.043 7.46-3.349 1.291-6.953.666-9.641-1.433zm11.586.43c-.438-2.353-1.08-4.653-1.92-6.897 1.876-.265 3.94-.196 6.199.196-.437 2.786-2.028 5.192-4.279 6.701z"/></svg>
                    </a>
                    <a target="_blank" href="https://www.behance.net/scalelotechnol" class="rounded pr-2 opacity-75 text-current hover:opacity-100 text-sm md:text-base font-medium flex my-1.5 mx-1.5 hover:text-scalelot-secondary anim" title="Behance">
                      <svg class="text-xl fill-current anim w-5 h-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 7h-7v-2h7v2zm1.726 10c-.442 1.297-2.029 3-5.101 3-3.074 0-5.564-1.729-5.564-5.675 0-3.91 2.325-5.92 5.466-5.92 3.082 0 4.964 1.782 5.375 4.426.078.506.109 1.188.095 2.14h-8.027c.13 3.211 3.483 3.312 4.588 2.029h3.168zm-7.686-4h4.965c-.105-1.547-1.136-2.219-2.477-2.219-1.466 0-2.277.768-2.488 2.219zm-9.574 6.988h-6.466v-14.967h6.953c5.476.081 5.58 5.444 2.72 6.906 3.461 1.26 3.577 8.061-3.207 8.061zm-3.466-8.988h3.584c2.508 0 2.906-3-.312-3h-3.272v3zm3.391 3h-3.391v3.016h3.341c3.055 0 2.868-3.016.05-3.016z"/></svg>
                    </a>
                    <a target="_blank" href="https://pin.it/36sY46l" class="rounded pr-2 opacity-75 text-current hover:opacity-100 text-sm md:text-base font-medium flex my-1.5 mx-1.5 hover:text-scalelot-secondary anim" title="Pinterest">
                      <svg class="text-xl fill-current anim w-5 h-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.372-12 12 0 5.084 3.163 9.426 7.627 11.174-.105-.949-.2-2.405.042-3.441.218-.937 1.407-5.965 1.407-5.965s-.359-.719-.359-1.782c0-1.668.967-2.914 2.171-2.914 1.023 0 1.518.769 1.518 1.69 0 1.029-.655 2.568-.994 3.995-.283 1.194.599 2.169 1.777 2.169 2.133 0 3.772-2.249 3.772-5.495 0-2.873-2.064-4.882-5.012-4.882-3.414 0-5.418 2.561-5.418 5.207 0 1.031.397 2.138.893 2.738.098.119.112.224.083.345l-.333 1.36c-.053.22-.174.267-.402.161-1.499-.698-2.436-2.889-2.436-4.649 0-3.785 2.75-7.262 7.929-7.262 4.163 0 7.398 2.967 7.398 6.931 0 4.136-2.607 7.464-6.227 7.464-1.216 0-2.359-.631-2.75-1.378l-.748 2.853c-.271 1.043-1.002 2.35-1.492 3.146 1.124.347 2.317.535 3.554.535 6.627 0 12-5.373 12-12 0-6.628-5.373-12-12-12z" fill-rule="evenodd" clip-rule="evenodd"/></svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="max-w-screen-2xl pt-0 md:p-4 lg:p-9 mx-auto relative z-10">
              <div class="md:-mx-3.5 flex items-start flex-wrap pt-5 pb-9 md:pt-9">
                <div class="w-full md:w-1/2 lg:w-1/4 p-3.5">
                  <h4 class="title_tab-rep text-current font-normal flex items-center cursor-pointer md:cursor-default uppercase w-full border-b-2 border-scalelot-secondary border-opacity-30 py-1.5 md:mb-8">
                    <span>Company</span>
                    <svg class="icon anim ml-auto w-4 transform active:rotate-180 md:hidden" xmlns="http://www.w3.org/2000/svg" width="21.994" height="13.118" viewBox="0 0 21.994 13.118"> <path class="stroke-current" data-name="Path 4" d="M871.513,5912.957l-8.876,8.876-8.876-8.876" transform="translate(-851.64 -5910.835)" fill="none" stroke-linecap="round" stroke-width="3"></path> </svg>
                  </h4>
                  <div class="mt-4 inner_content-rep hidden md:block">
                    <ul class="flex flex-wrap">
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-1/2 md:text-sm xl:text-base opacity-75 text-current font-light"><a class="block hover:text-scalelot-secondary" href="/about-us">About Us</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-1/2 md:text-sm xl:text-base opacity-75 text-current font-light"><a class="block hover:text-scalelot-secondary" href="/services">Services</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-1/2 md:text-sm xl:text-base opacity-75 text-current font-light"><a class="block hover:text-scalelot-secondary" href="/work">Work</a></li>
                      <!-- <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-1/2 md:text-sm xl:text-base opacity-75 text-current font-light"><a class="block hover:text-scalelot-secondary" href="/blog">Blog</a></li> -->
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-1/2 md:text-sm xl:text-base opacity-75 text-current font-light"><a class="block hover:text-scalelot-secondary" href="/offshore">Offshore & Hire</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-1/2 md:text-sm xl:text-base opacity-75 text-current font-light"><a class="block hover:text-scalelot-secondary" href="/faq">FAQs</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-1/2 md:text-sm xl:text-base opacity-75 text-current font-light"><a class="block hover:text-scalelot-secondary" href="/career">Careers</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-1/2 md:text-sm xl:text-base opacity-75 text-current font-light"><a class="block hover:text-scalelot-secondary" href="/contact-us">Contact</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-1/2 md:text-sm xl:text-base opacity-75 text-current font-light"><a class="block hover:text-scalelot-secondary" href="/html-sitemap">Sitemap</a></li>
<!--                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 &#45;&#45;+&#45;&#45; w-auto md:w-1/2 md:text-sm xl:text-base opacity-75 text-current font-light"><a class="block hover:text-scalelot-secondary" href="/privacy-policy" class="block">Policies</a></li>-->
                    </ul>
                  </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 p-3.5">
                  <h4 class="title_tab-rep text-current font-normal flex items-center cursor-pointer md:cursor-default uppercase w-full border-b-2 border-scalelot-secondary border-opacity-30 py-1.5 md:mb-8">
                    <span>Services</span>
                    <svg class="icon anim ml-auto w-4 transform active:rotate-180 md:hidden" xmlns="http://www.w3.org/2000/svg" width="21.994" height="13.118" viewBox="0 0 21.994 13.118"> <path class="stroke-current" data-name="Path 4" d="M871.513,5912.957l-8.876,8.876-8.876-8.876" transform="translate(-851.64 -5910.835)" fill="none" stroke-linecap="round" stroke-width="3"></path> </svg>
                  </h4>
                  <div class="w-full space-y-4 mt-5 inner_content-rep hidden md:block">
                    <div class="Accordion_item">
                      <h6 class="title_tab text-current text-xs md:text-base font-pop cursor-pointer flex items-center">
                        <span>Web Development</span>
                        <span class="inline-block ml-auto">
                          <!-- <a href="/services/web-development" class="block -mt-1 text-scalelot-secondary hover:text-current"><svg class="w-3.5 h-auto fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 283.842 283.842" style="enable-background:new 0 0 283.842 283.842;" xml:space="preserve"> <g> <path d="M265.117,22.764l-9.877-8.737c-23.003-20.398-58.227-18.283-78.618,4.726l-28.267,31.89 c-6.38,7.199-5.717,18.251,1.479,24.637l2.653,2.354c7.221,6.402,18.239,5.741,24.646-1.481l28.265-31.889 c6.305-7.107,17.227-7.761,24.338-1.466l9.865,8.752c7.113,6.303,7.783,17.223,1.469,24.334l-61.808,69.726 c-5.231,5.911-13.791,7.505-20.816,3.875c-7.682-3.967-17.051-2.224-22.787,4.245l-0.482,0.544 c-3.881,4.377-5.499,10.188-4.439,15.943c1.061,5.752,4.642,10.604,9.825,13.313c8.197,4.284,17.049,6.358,25.814,6.358 c15.532,0,30.795-6.512,41.67-18.775l61.804-69.718C290.219,78.417,288.099,43.148,265.117,22.764z"/> <path d="M133.998,208.581l-2.659-2.356c-7.204-6.383-18.259-5.712-24.64,1.489l-28.254,31.886 c-6.308,7.105-17.222,7.764-24.327,1.473l-9.879-8.764c-7.115-6.301-7.783-17.212-1.467-24.325l61.806-69.721 c5.124-5.787,13.555-7.442,20.504-4.028c7.986,3.924,17.683,2.016,23.595-4.656l0.222-0.25c3.798-4.288,5.396-9.979,4.386-15.614 c-1.01-5.636-4.484-10.417-9.533-13.119c-22.828-12.22-50.769-7.22-67.947,12.165l-61.81,69.707v0.001 c-20.371,22.978-18.252,58.246,4.726,78.622l9.877,8.749c10.583,9.383,23.77,13.992,36.913,13.992 c15.394,0,30.724-6.327,41.718-18.724l28.258-31.886C141.88,226.003,141.224,214.987,133.998,208.581z"/> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></a> -->
                          <svg class="icon anim ml-2 w-4 transform active:rotate-180" xmlns="http://www.w3.org/2000/svg" width="21.994" height="13.118" viewBox="0 0 21.994 13.118"> <path class="stroke-current" data-name="Path 4" d="M871.513,5912.957l-8.876,8.876-8.876-8.876" transform="translate(-851.64 -5910.835)" fill="none" stroke-linecap="round" stroke-width="3"></path> </svg>
                        </span>
                      </h6>
                      <div class="inner_content hidden">
                          <ul class="mt-4 flex flex-wrap md:block">
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/angular-development">Angular Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/reactjs-development">Reactjs Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/nodejs-development">Nodejs Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/python-development">Python Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/html5-development">Html5 Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/wordpress-development">Wordpress Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/magento-development">Magento Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/woocommerce-development">WooCommerce Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/shopify-development">Shopify Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/cms-website-development">CMS Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/mongodb-database-design">Mongodb Data Model Design</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/web-development/mysql-database-design">Mysql Database Design</a></li>
                          </ul>
                      </div>
                    </div>
                    <div class="Accordion_item">
                      <h6 class="title_tab text-current text-xs md:text-base font-pop cursor-pointer flex items-center">
                        <span>Mobile Development</span>
                        <span class="inline-block ml-auto">
                          <!-- <a href="/services/mobile-app-development" class="block -mt-1 text-scalelot-secondary hover:text-current"><svg class="w-3.5 h-auto fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 283.842 283.842" style="enable-background:new 0 0 283.842 283.842;" xml:space="preserve"> <g> <path d="M265.117,22.764l-9.877-8.737c-23.003-20.398-58.227-18.283-78.618,4.726l-28.267,31.89 c-6.38,7.199-5.717,18.251,1.479,24.637l2.653,2.354c7.221,6.402,18.239,5.741,24.646-1.481l28.265-31.889 c6.305-7.107,17.227-7.761,24.338-1.466l9.865,8.752c7.113,6.303,7.783,17.223,1.469,24.334l-61.808,69.726 c-5.231,5.911-13.791,7.505-20.816,3.875c-7.682-3.967-17.051-2.224-22.787,4.245l-0.482,0.544 c-3.881,4.377-5.499,10.188-4.439,15.943c1.061,5.752,4.642,10.604,9.825,13.313c8.197,4.284,17.049,6.358,25.814,6.358 c15.532,0,30.795-6.512,41.67-18.775l61.804-69.718C290.219,78.417,288.099,43.148,265.117,22.764z"/> <path d="M133.998,208.581l-2.659-2.356c-7.204-6.383-18.259-5.712-24.64,1.489l-28.254,31.886 c-6.308,7.105-17.222,7.764-24.327,1.473l-9.879-8.764c-7.115-6.301-7.783-17.212-1.467-24.325l61.806-69.721 c5.124-5.787,13.555-7.442,20.504-4.028c7.986,3.924,17.683,2.016,23.595-4.656l0.222-0.25c3.798-4.288,5.396-9.979,4.386-15.614 c-1.01-5.636-4.484-10.417-9.533-13.119c-22.828-12.22-50.769-7.22-67.947,12.165l-61.81,69.707v0.001 c-20.371,22.978-18.252,58.246,4.726,78.622l9.877,8.749c10.583,9.383,23.77,13.992,36.913,13.992 c15.394,0,30.724-6.327,41.718-18.724l28.258-31.886C141.88,226.003,141.224,214.987,133.998,208.581z"/> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></a> -->
                          <svg class="icon anim ml-2 w-4 transform active:rotate-180" xmlns="http://www.w3.org/2000/svg" width="21.994" height="13.118" viewBox="0 0 21.994 13.118"> <path class="stroke-current" data-name="Path 4" d="M871.513,5912.957l-8.876,8.876-8.876-8.876" transform="translate(-851.64 -5910.835)" fill="none" stroke-linecap="round" stroke-width="3"></path> </svg>
                        </span>
                      </h6>
                      <div class="inner_content hidden">
                          <ul class="mt-4 flex flex-wrap md:block">
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/mobile-app-development/ios-app-development">iOS App Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/mobile-app-development/android-app-development">Android App Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/mobile-app-development/hybrid-app-development">Hybrid App Development </a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/mobile-app-development/flutter-app-development">Flutter App Development</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/mobile-app-development/react-native-app-development">React Native App Development</a></li>
                          </ul>    
                      </div>
                    </div>
                    <div class="Accordion_item">
                      <h6 class="title_tab text-current text-xs md:text-base font-pop cursor-pointer flex items-center">
                        <span>UI/UX Design</span>
                        <span class="inline-block ml-auto">
                          <!-- <a href="/services/ui-ux-design" class="block -mt-1 text-scalelot-secondary hover:text-current"><svg class="w-3.5 h-auto fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 283.842 283.842" style="enable-background:new 0 0 283.842 283.842;" xml:space="preserve"> <g> <path d="M265.117,22.764l-9.877-8.737c-23.003-20.398-58.227-18.283-78.618,4.726l-28.267,31.89 c-6.38,7.199-5.717,18.251,1.479,24.637l2.653,2.354c7.221,6.402,18.239,5.741,24.646-1.481l28.265-31.889 c6.305-7.107,17.227-7.761,24.338-1.466l9.865,8.752c7.113,6.303,7.783,17.223,1.469,24.334l-61.808,69.726 c-5.231,5.911-13.791,7.505-20.816,3.875c-7.682-3.967-17.051-2.224-22.787,4.245l-0.482,0.544 c-3.881,4.377-5.499,10.188-4.439,15.943c1.061,5.752,4.642,10.604,9.825,13.313c8.197,4.284,17.049,6.358,25.814,6.358 c15.532,0,30.795-6.512,41.67-18.775l61.804-69.718C290.219,78.417,288.099,43.148,265.117,22.764z"/> <path d="M133.998,208.581l-2.659-2.356c-7.204-6.383-18.259-5.712-24.64,1.489l-28.254,31.886 c-6.308,7.105-17.222,7.764-24.327,1.473l-9.879-8.764c-7.115-6.301-7.783-17.212-1.467-24.325l61.806-69.721 c5.124-5.787,13.555-7.442,20.504-4.028c7.986,3.924,17.683,2.016,23.595-4.656l0.222-0.25c3.798-4.288,5.396-9.979,4.386-15.614 c-1.01-5.636-4.484-10.417-9.533-13.119c-22.828-12.22-50.769-7.22-67.947,12.165l-61.81,69.707v0.001 c-20.371,22.978-18.252,58.246,4.726,78.622l9.877,8.749c10.583,9.383,23.77,13.992,36.913,13.992 c15.394,0,30.724-6.327,41.718-18.724l28.258-31.886C141.88,226.003,141.224,214.987,133.998,208.581z"/> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></a> -->
                          <svg class="icon anim ml-2 w-4 transform active:rotate-180" xmlns="http://www.w3.org/2000/svg" width="21.994" height="13.118" viewBox="0 0 21.994 13.118"> <path class="stroke-current" data-name="Path 4" d="M871.513,5912.957l-8.876,8.876-8.876-8.876" transform="translate(-851.64 -5910.835)" fill="none" stroke-linecap="round" stroke-width="3"></path> </svg>
                        </span>
                      </h6>
                      <div class="inner_content hidden">
                        <div class="flex">
                          <ul class="mt-4 flex flex-wrap md:block">
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/ui-ux-design/mobile-app-design">Mobile Design</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/ui-ux-design/website-design">Website Design</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/ui-ux-design/web-app-design">Web App Design</a></li>
                            <!-- <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/ui-ux-design/sales-funnels-design">Sales Funnels Design</a></li> -->
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/ui-ux-design/game-design">Game Design</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/ui-ux-design/website-revamp-design">Website Redesign</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="Accordion_item">
                      <h6 class="title_tab text-current text-xs md:text-base font-pop cursor-pointer flex items-center">
                        <span>Graphic Design</span>
                        <span class="inline-block ml-auto">
                          <!-- <a href="/services/graphic-design" class="block -mt-1 text-scalelot-secondary hover:text-current"><svg class="w-3.5 h-auto fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 283.842 283.842" style="enable-background:new 0 0 283.842 283.842;" xml:space="preserve"> <g> <path d="M265.117,22.764l-9.877-8.737c-23.003-20.398-58.227-18.283-78.618,4.726l-28.267,31.89 c-6.38,7.199-5.717,18.251,1.479,24.637l2.653,2.354c7.221,6.402,18.239,5.741,24.646-1.481l28.265-31.889 c6.305-7.107,17.227-7.761,24.338-1.466l9.865,8.752c7.113,6.303,7.783,17.223,1.469,24.334l-61.808,69.726 c-5.231,5.911-13.791,7.505-20.816,3.875c-7.682-3.967-17.051-2.224-22.787,4.245l-0.482,0.544 c-3.881,4.377-5.499,10.188-4.439,15.943c1.061,5.752,4.642,10.604,9.825,13.313c8.197,4.284,17.049,6.358,25.814,6.358 c15.532,0,30.795-6.512,41.67-18.775l61.804-69.718C290.219,78.417,288.099,43.148,265.117,22.764z"/> <path d="M133.998,208.581l-2.659-2.356c-7.204-6.383-18.259-5.712-24.64,1.489l-28.254,31.886 c-6.308,7.105-17.222,7.764-24.327,1.473l-9.879-8.764c-7.115-6.301-7.783-17.212-1.467-24.325l61.806-69.721 c5.124-5.787,13.555-7.442,20.504-4.028c7.986,3.924,17.683,2.016,23.595-4.656l0.222-0.25c3.798-4.288,5.396-9.979,4.386-15.614 c-1.01-5.636-4.484-10.417-9.533-13.119c-22.828-12.22-50.769-7.22-67.947,12.165l-61.81,69.707v0.001 c-20.371,22.978-18.252,58.246,4.726,78.622l9.877,8.749c10.583,9.383,23.77,13.992,36.913,13.992 c15.394,0,30.724-6.327,41.718-18.724l28.258-31.886C141.88,226.003,141.224,214.987,133.998,208.581z"/> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></a> -->
                          <svg class="icon anim ml-2 w-4 transform active:rotate-180" xmlns="http://www.w3.org/2000/svg" width="21.994" height="13.118" viewBox="0 0 21.994 13.118"> <path class="stroke-current" data-name="Path 4" d="M871.513,5912.957l-8.876,8.876-8.876-8.876" transform="translate(-851.64 -5910.835)" fill="none" stroke-linecap="round" stroke-width="3"></path> </svg>
                        </span>
                      </h6>
                      <div class="inner_content hidden">
                        <div class="flex">
                          <ul class="mt-4 flex flex-wrap md:block">
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/graphic-design/logo-design">Logo Design</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/graphic-design/branding-design">Branding Design</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/graphic-design/mockups-design">Mockups Design</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/graphic-design/infographic-design">Infographic Design</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/graphic-design/social-media-post-design">Social Media Post Design</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/graphic-design/banner-design">Banner Card Design</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="Accordion_item">
                      <h6 class="title_tab text-current text-xs md:text-base font-pop cursor-pointer flex items-center">
                        <span>Digital Marketing</span>
                        <span class="inline-block ml-auto">
                          <!-- <a href="/services/digital-marketing" class="block -mt-1 text-scalelot-secondary hover:text-current"><svg class="w-3.5 h-auto fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 283.842 283.842" style="enable-background:new 0 0 283.842 283.842;" xml:space="preserve"> <g> <path d="M265.117,22.764l-9.877-8.737c-23.003-20.398-58.227-18.283-78.618,4.726l-28.267,31.89 c-6.38,7.199-5.717,18.251,1.479,24.637l2.653,2.354c7.221,6.402,18.239,5.741,24.646-1.481l28.265-31.889 c6.305-7.107,17.227-7.761,24.338-1.466l9.865,8.752c7.113,6.303,7.783,17.223,1.469,24.334l-61.808,69.726 c-5.231,5.911-13.791,7.505-20.816,3.875c-7.682-3.967-17.051-2.224-22.787,4.245l-0.482,0.544 c-3.881,4.377-5.499,10.188-4.439,15.943c1.061,5.752,4.642,10.604,9.825,13.313c8.197,4.284,17.049,6.358,25.814,6.358 c15.532,0,30.795-6.512,41.67-18.775l61.804-69.718C290.219,78.417,288.099,43.148,265.117,22.764z"/> <path d="M133.998,208.581l-2.659-2.356c-7.204-6.383-18.259-5.712-24.64,1.489l-28.254,31.886 c-6.308,7.105-17.222,7.764-24.327,1.473l-9.879-8.764c-7.115-6.301-7.783-17.212-1.467-24.325l61.806-69.721 c5.124-5.787,13.555-7.442,20.504-4.028c7.986,3.924,17.683,2.016,23.595-4.656l0.222-0.25c3.798-4.288,5.396-9.979,4.386-15.614 c-1.01-5.636-4.484-10.417-9.533-13.119c-22.828-12.22-50.769-7.22-67.947,12.165l-61.81,69.707v0.001 c-20.371,22.978-18.252,58.246,4.726,78.622l9.877,8.749c10.583,9.383,23.77,13.992,36.913,13.992 c15.394,0,30.724-6.327,41.718-18.724l28.258-31.886C141.88,226.003,141.224,214.987,133.998,208.581z"/> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></a> -->
                          <svg class="icon anim ml-2 w-4 transform active:rotate-180" xmlns="http://www.w3.org/2000/svg" width="21.994" height="13.118" viewBox="0 0 21.994 13.118"> <path class="stroke-current" data-name="Path 4" d="M871.513,5912.957l-8.876,8.876-8.876-8.876" transform="translate(-851.64 -5910.835)" fill="none" stroke-linecap="round" stroke-width="3"></path> </svg>
                        </span>
                      </h6>
                      <div class="inner_content hidden">
                        <div class="flex">
                          <ul class="mt-4 flex flex-wrap md:block">
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/digital-marketing/seo">SEO</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/digital-marketing/sem-ppc">SEM-PPC</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/digital-marketing/smm" title="Social Media Marketing">SMM</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="Accordion_item-">
                      <a href="/services/sales-funnels-design" class="title_tab- text-current text-xs md:text-base font-pop cursor-pointer flex items-center">
                        <span>Sales Funnel</span>
                        <!-- <div class="ml-auto">
                          <a href="/services/sales-funnels-design" class="block -mt-1 text-scalelot-secondary hover:text-current"><svg class="w-3.5 h-auto fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 283.842 283.842" style="enable-background:new 0 0 283.842 283.842;" xml:space="preserve"> <g> <path d="M265.117,22.764l-9.877-8.737c-23.003-20.398-58.227-18.283-78.618,4.726l-28.267,31.89 c-6.38,7.199-5.717,18.251,1.479,24.637l2.653,2.354c7.221,6.402,18.239,5.741,24.646-1.481l28.265-31.889 c6.305-7.107,17.227-7.761,24.338-1.466l9.865,8.752c7.113,6.303,7.783,17.223,1.469,24.334l-61.808,69.726 c-5.231,5.911-13.791,7.505-20.816,3.875c-7.682-3.967-17.051-2.224-22.787,4.245l-0.482,0.544 c-3.881,4.377-5.499,10.188-4.439,15.943c1.061,5.752,4.642,10.604,9.825,13.313c8.197,4.284,17.049,6.358,25.814,6.358 c15.532,0,30.795-6.512,41.67-18.775l61.804-69.718C290.219,78.417,288.099,43.148,265.117,22.764z"/> <path d="M133.998,208.581l-2.659-2.356c-7.204-6.383-18.259-5.712-24.64,1.489l-28.254,31.886 c-6.308,7.105-17.222,7.764-24.327,1.473l-9.879-8.764c-7.115-6.301-7.783-17.212-1.467-24.325l61.806-69.721 c5.124-5.787,13.555-7.442,20.504-4.028c7.986,3.924,17.683,2.016,23.595-4.656l0.222-0.25c3.798-4.288,5.396-9.979,4.386-15.614 c-1.01-5.636-4.484-10.417-9.533-13.119c-22.828-12.22-50.769-7.22-67.947,12.165l-61.81,69.707v0.001 c-20.371,22.978-18.252,58.246,4.726,78.622l9.877,8.749c10.583,9.383,23.77,13.992,36.913,13.992 c15.394,0,30.724-6.327,41.718-18.724l28.258-31.886C141.88,226.003,141.224,214.987,133.998,208.581z"/> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></a>
                          <svg class="icon anim ml-2 w-4 transform active:rotate-180" xmlns="http://www.w3.org/2000/svg" width="21.994" height="13.118" viewBox="0 0 21.994 13.118"> <path class="stroke-current" data-name="Path 4" d="M871.513,5912.957l-8.876,8.876-8.876-8.876" transform="translate(-851.64 -5910.835)" fill="none" stroke-linecap="round" stroke-width="3"></path> </svg>
                        </div> -->
                      </a>
                      <!-- <div class="inner_content hidden">
                        <div class="flex">
                          <ul class="mt-4 flex flex-wrap md:block">
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/sales-funnels-design/unbounce-landing-page-development">Unbounce</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/sales-funnels-design/click-funnels-development">Click Funnels</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/sales-funnels-design/instapage-landing-page-development">Instapage</a></li>
                            <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/services/sales-funnels-design/hubspot-development">Hubspot</a></li>
                          </ul>
                        </div>
                      </div> -->
                    </div>
                  </div>            
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 p-3.5">
                  <h4 class="title_tab-rep text-current font-normal flex items-center cursor-pointer md:cursor-default uppercase w-full border-b-2 border-scalelot-secondary border-opacity-30 py-1.5 md:mb-8">
                    <span>Work</span>
                    <svg class="icon anim ml-auto w-4 transform active:rotate-180 md:hidden" xmlns="http://www.w3.org/2000/svg" width="21.994" height="13.118" viewBox="0 0 21.994 13.118"> <path class="stroke-current" data-name="Path 4" d="M871.513,5912.957l-8.876,8.876-8.876-8.876" transform="translate(-851.64 -5910.835)" fill="none" stroke-linecap="round" stroke-width="3"></path> </svg>
                  </h4>
                  <div class="mt-4 inner_content-rep hidden md:block">
                    <ul class="flex flex-wrap md:block">
                      <!-- <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/work/case-studies">Case Studies</a></li> -->
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/work/portfolio">Portfolio</a></li>
                      <!-- <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/work/products">Products</a></li> -->
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/work/testimonials">Testimonials</a></li>
                    </ul>
                  </div>
                </div>
                <!-- <div class="w-full md:w-1/2 lg:w-1/4 p-3.5">
                  <h4 class="title_tab-rep text-current font-normal flex items-center cursor-pointer md:cursor-default uppercase w-full border-b-2 border-scalelot-secondary border-opacity-30 py-1.5 md:mb-8">
                    <span>Hire</span>
                    <svg class="icon anim ml-auto w-4 transform active:rotate-180 md:hidden" xmlns="http://www.w3.org/2000/svg" width="21.994" height="13.118" viewBox="0 0 21.994 13.118"> <path class="stroke-current" data-name="Path 4" d="M871.513,5912.957l-8.876,8.876-8.876-8.876" transform="translate(-851.64 -5910.835)" fill="none" stroke-linecap="round" stroke-width="3"></path> </svg>
                  </h4>
                  <div class="mt-4 inner_content-rep hidden md:block">
                    <ul class="flex flex-wrap md:block">
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/hire-dedicated-developer/hire-dedicated-angular-developer">Angular Developer</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/hire-dedicated-developer/hire-dedicated-reactjs-developer">Reactjs Developer</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/hire-dedicated-developer/hire-dedicated-nodejs-developer">Nodejs Developer</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/hire-dedicated-developer/hire-dedicated-python-developer">Python Developer</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/hire-dedicated-developer/hire-dedicated-wordpress-developer">Wordpress Developer</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/hire-dedicated-developer/hire-dedicated-iphone-apps-developer">iOS Developer</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/hire-dedicated-developer/hire-dedicated-android-developer">Android Developer</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/hire-dedicated-developer/hire-dedicated-flutter-developer">Flutter Developer</a></li>
                      <li class="text-xs border border-current dark:opacity-75 rounded-md m-1 md:m-0 px-2 py-1 md:pt-0 md:pb-3 md:px-0 md:border-0 w-auto md:w-full md:text-sm xl:text-base opacity-75 text-current font-light"><a class="hover:text-scalelot-secondary" href="/hire-dedicated-developer/hire-dedicated-shopify-developer">Shopify Developer</a></li>
                    </ul>
                  </div>
                </div> -->
                
                <div class="w-full md:w-1/2 lg:w-1/4 p-3.5 relative">
                  <a href="/career" class="h-full bg-white bg-opacity-50 dark:bg-scalelot-primary text-scalelot-dark dark:text-white px-5 py-9 flex flex-col justify-between rounded-md relative overflow-hidden">
                    <h3 class="uppercase relative text-current">We Are <br> <span class="text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl uppercase relative inline-block after:z-0 after:absolute after:bottom-2.5 md:after:bottom-[30%] after:inset-x-0 after:h-[16%] anim after:w-full after:bg-scalelot-secondary after:opacity-50"><span class="relative z-10">Hiring</span></span></h3>
                    <p class="relative text-scalelot-secondary flex items-center text-sm mt-2 font-semibold">hr@scalelot.com</p>
                    <p class="relative text-scalelot-secondary flex items-center text-sm mt-1 font-semibold">+(91) 878 033 3608</p>
                    <span class="block mb-3"></span>
                    <span class="btn-border small text-current border-current w-48 group anim rounded-full border mt-auto">
                      <span class="bleft anim group-hover:left-0"></span>
                      Apply Now
                      <span class="bright anim group-hover:-right-full"></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="text-center bg-black bg-opacity-10 text-current py-3.5 text-xs lg:text-sm uppercase">Copyright <script> document.write((new Date()).getFullYear()) </script> <a href="/">Scalelot</a> All Rights Reserved</div>
          </div>
        </footer>
      </div>
      
      <div id="toTop" class="fixed bottom-5 left-5 hidden z-50 cursor-pointer text-5xl hover:text-scalelot-secondary animate-bounce anim">&#8593;</div>

      <div class="loader fixed inset-0 w-screen h-screen flex items-center justify-center bg-white dark:bg-scalelot-primary z-40 hidden">
        <div class="text-center">
          <div class="icon">
            <span class="icon-light text-4xl md:text-6xl dark:hidden inline-block mx-auto text-yellow-500"></span>
            <span class="icon-dark text-4xl md:text-6xl dark:inline-block hidden mx-auto"></span>
          </div>
          <div class="text mt-2 uppercase">
            <p class="flex items-center justify-center md:text-xl">
              <span class="dark:block hidden mr-2">Dark</span>
              <span class="block dark:hidden mr-2">Light</span>
              Mode On
            </p>
          </div>
        </div>
      </div>
      
    </div>


    <!-- Jquery Plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Swiper JS -->
    <script src="/assets/js/swiper-bundle.js"></script>
    <!-- <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> -->
    <!-- Select2 JS -->
    <script src="/assets/js/select2.full.min.js"></script>
    <!-- Menu JS -->
    <script src="/assets/js/mmenu.min.js"></script>
    <!-- Custom JS -->
    <script src="/assets/js/scalelot.js"></script>

    <script>
      $(".icon-light, .icon-dark").click(function() {
        $(".loader").removeClass('hidden');
        setTimeout(function() {
          $(".loader").addClass("hidden");
        }, 1000)
      });
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/628cc5fd7b967b117990f63a/1g3quaq2v';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
      </script>
      <!--End of Tawk.to Script-->

  </body>
</html>