  <div class="block fixed left-0 top-10 opacity-40 animate-[spin_5s_ease-in-out_infinite]">
    <div class="block w-48 h-60 rounded-full bg-blue-400 blur-xl opacity-20 animate-pulse"></div>
  </div>
  <div class="block fixed right-0 bottom-0 opacity-40 animate-[bounce_5s_ease-in-out_infinite]">
    <div class="block w-48 h-60 rounded-full bg-red-300 blur-xl opacity-20 animate-pulse"></div>
  </div>
  <div class="block fixed left-1/4 top-1/4 opacity-60 animate-[spin_5s_ease-in-out_infinite]">
    <div class="block w-56 h-80 rounded-full bg-red-400 blur-xl opacity-20 animate-[bounce_5s_ease-in-out_infinite]"></div>
  </div>
  <div class="block fixed right-1/4 bottom-1/4 opacity-60 animate-[bounce_5s_ease-in-out_infinite]">
    <div class="block w-80 h-80 rounded-full bg-blue-400 blur-xl opacity-20 animate-[spin_5s_ease-in-out_infinite]"></div>
  </div>