<section>
  <div class="bg-scalelot-secondary-">
    <div class="max-w-screen-xl px-5 lg:px-9 mx-auto py-12 lg:py-16 xl:py-24 2xl:py-28">
      <div class="flex flex-wrap justify-center items-center text-center md:text-left">
        <div class="w-full md:w-1/2">
          <h2 class="">Let’s talk!</h2>
          <p class="leading-relaxed text-base w-full">Tell us all about your project right here, or send us an email at <br /> <a href="mailto:info@scalelot.com" class="font-bold text-lg">info@scalelot.com</a></p>
        </div>
        <div class="w-full md:w-1/2">
          <div class="md:text-right pt-7 md:pt-0">
            <button onclick="window.location='/contact-us'" type="button" class="btn-border text-current border-current group anim rounded-full border">
              <span class="bleft anim group-hover:left-0"></span>
              Contact Now
              <span class="bright anim group-hover:-right-full"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>