<div class="ourServices_slider swiper">
  <div class="swiper-wrapper md:flex md:flex-wrap md:justify-center">
    <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:px-3.5 md:h-auto py-4">
      <a href="/services/web-development" class="relative bg-white hover:bg-scalelot-primary hover:text-gray-300 dark:bg-scalelot-primary dark:bg-opacity-30 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap 2xl:py-14 py-10 px-7 anim overflow-hidden border-2 border-scalelot-ceil dark:border-white border-opacity-10 dark:border-opacity-10">
        <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 dark:group-hover:opacity-10 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-9"></span>
        <div class="w-full md:w-max mx-auto 2xl:mx-0 mb-5 2xl:mb-0">
          <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-[rgba(177,108,238,0.15)] mx-auto relative img transform anim">
            <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-web-development text-[#AE6AED]"></span>
          </div>
        </div>
        <div class="w-full md:w-max md:pl-5 pl-0">
          <h5 class="text-lg lg:text-22 font-pop anim pb-2.5 text-center md:text-left group-hover:text-white">Web Development</h5>
          <p class="text-sm 2xl:text-base text-center md:text-left">Our web development team makes a mark in developing excellent websites.</p>
          <svg class="absolute bottom-3 right-9 w-6 delay-150 group-hover:right-3 dark:opacity-0 dark:group-hover:opacity-100 anim z-10" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
            <g data-name="Group 540" transform="translate(-20 -127.369)">
              <g data-name="Group 541" transform="translate(0 127.369)">
                <g data-name="Group 540" transform="translate(0 0)">
                  <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" fill="#fff"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </a>
    </div>
    <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:px-3.5 md:h-auto py-4">
      <a href="/services/mobile-app-development" class="relative bg-white hover:bg-scalelot-primary hover:text-gray-300 dark:bg-scalelot-primary dark:bg-opacity-30 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap 2xl:py-14 py-10 px-7 anim overflow-hidden border-2 border-scalelot-ceil dark:border-white border-opacity-10 dark:border-opacity-10">
        <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 dark:group-hover:opacity-10 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-9"></span>
        <div class="w-full md:w-max mx-auto 2xl:mx-0 mb-5 2xl:mb-0">
          <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-[rgba(17,183,181,0.15)] mx-auto relative img transform anim">
            <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-mobile-app-development text-[#11b7b5]"></span>
          </div>
        </div>
        <div class="w-full md:w-max md:pl-5 pl-0">
          <h5 class="text-lg lg:text-22 font-pop anim pb-2.5 text-center md:text-left group-hover:text-white">Mobile Development</h5>
          <p class="text-sm 2xl:text-base text-center md:text-left">Ensure to get high-end applications with emerging and futuristic technology.</p>
          <svg class="absolute bottom-3 right-9 w-6 delay-150 group-hover:right-3 dark:opacity-0 dark:group-hover:opacity-100 anim z-10" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
            <g data-name="Group 540" transform="translate(-20 -127.369)">
              <g data-name="Group 541" transform="translate(0 127.369)">
                <g data-name="Group 540" transform="translate(0 0)">
                  <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" fill="#fff"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </a>
    </div>
    <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:px-3.5 md:h-auto py-4">
      <a href="/services/ui-ux-design" class="relative bg-white hover:bg-scalelot-primary hover:text-gray-300 dark:bg-scalelot-primary dark:bg-opacity-30 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap 2xl:py-14 py-10 px-7 anim overflow-hidden border-2 border-scalelot-ceil dark:border-white border-opacity-10 dark:border-opacity-10">
        <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 dark:group-hover:opacity-10 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-9"></span>
        <div class="w-full md:w-max mx-auto 2xl:mx-0 mb-5 2xl:mb-0">
          <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-[rgba(251,120,120,0.15)] mx-auto relative img transform anim">
            <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-ui-ux text-[#fb7878]"></span>
          </div>
        </div>
        <div class="w-full md:w-max md:pl-5 pl-0">
          <h5 class="text-lg lg:text-22 font-pop anim pb-2.5 text-center md:text-left group-hover:text-white">UI/UX Design</h5>
          <p class="text-sm 2xl:text-base text-center md:text-left">We identify problems and provide aesthetically pleasing, interactive user solutions.</p>
          <svg class="absolute bottom-3 right-9 w-6 delay-150 group-hover:right-3 dark:opacity-0 dark:group-hover:opacity-100 anim z-10" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
            <g data-name="Group 540" transform="translate(-20 -127.369)">
              <g data-name="Group 541" transform="translate(0 127.369)">
                <g data-name="Group 540" transform="translate(0 0)">
                  <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" fill="#fff"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </a>
    </div>
    <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:px-3.5 md:h-auto py-4">
      <a href="/services/graphic-design" class="relative bg-white hover:bg-scalelot-primary hover:text-gray-300 dark:bg-scalelot-primary dark:bg-opacity-30 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap 2xl:py-14 py-10 px-7 anim overflow-hidden border-2 border-scalelot-ceil dark:border-white border-opacity-10 dark:border-opacity-10">
        <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 dark:group-hover:opacity-10 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-9"></span>
        <div class="w-full md:w-max mx-auto 2xl:mx-0 mb-5 2xl:mb-0">
          <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-[rgba(113,202,146,0.15)] mx-auto relative img transform anim">
            <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-logo-desing text-[#71ca92]"></span>
          </div>
        </div>
        <div class="w-full md:w-max md:pl-5 pl-0">
          <h5 class="text-lg lg:text-22 font-pop anim pb-2.5 text-center md:text-left group-hover:text-white">Graphic Design</h5>
          <p class="text-sm 2xl:text-base text-center md:text-left">Outstanding graphics and artistically unique design are one of our USPs.</p>
          <svg class="absolute bottom-3 right-9 w-6 delay-150 group-hover:right-3 dark:opacity-0 dark:group-hover:opacity-100 anim z-10" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
            <g data-name="Group 540" transform="translate(-20 -127.369)">
              <g data-name="Group 541" transform="translate(0 127.369)">
                <g data-name="Group 540" transform="translate(0 0)">
                  <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" fill="#fff"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </a>
    </div>
    <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:px-3.5 md:h-auto py-4">
      <a href="/services/digital-marketing" class="relative bg-white hover:bg-scalelot-primary hover:text-gray-300 dark:bg-scalelot-primary dark:bg-opacity-30 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap 2xl:py-14 py-10 px-7 anim overflow-hidden border-2 border-scalelot-ceil dark:border-white border-opacity-10 dark:border-opacity-10">
        <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 dark:group-hover:opacity-10 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-9"></span>
        <div class="w-full md:w-max mx-auto 2xl:mx-0 mb-5 2xl:mb-0">
          <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-[rgba(242,159,114,0.15)] mx-auto relative img transform anim">
            <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-digital-marketing text-[#f29f72]"></span>
          </div>
        </div>
        <div class="w-full md:w-max md:pl-5 pl-0">
          <h5 class="text-lg lg:text-22 font-pop anim pb-2.5 text-center md:text-left group-hover:text-white">Digital Marketing</h5>
          <p class="text-sm 2xl:text-base text-center md:text-left">Following strategic and proven marketing solutions to achieve business goals.</p>
          <svg class="absolute bottom-3 right-9 w-6 delay-150 group-hover:right-3 dark:opacity-0 dark:group-hover:opacity-100 anim z-10" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
            <g data-name="Group 540" transform="translate(-20 -127.369)">
              <g data-name="Group 541" transform="translate(0 127.369)">
                <g data-name="Group 540" transform="translate(0 0)">
                  <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" fill="#fff"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </a>
    </div>
    <div class="swiper-slide w-full md:w-3/6 xl:w-4/12 md:px-3.5 md:h-auto py-4">
      <a href="/services/sales-funnels-design" class="relative bg-white hover:bg-scalelot-primary hover:text-gray-300 dark:bg-scalelot-primary dark:bg-opacity-30 cursor-pointer group h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap 2xl:py-14 py-10 px-7 anim overflow-hidden border-2 border-scalelot-ceil dark:border-white border-opacity-10 dark:border-opacity-10">
        <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 dark:group-hover:opacity-10 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-9"></span>
        <div class="w-full md:w-max mx-auto 2xl:mx-0 mb-5 2xl:mb-0">
          <div class="w-16 md:w-20 xl:w-24 h-16 md:h-20 xl:h-24 rounded-full shadow-one bg-[rgba(133,177,203,0.15)] mx-auto relative img transform anim">
            <span class="text-3xl md:text-5xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 icon-sales-funnel text-[#85B1CB]"></span>
          </div>
        </div>
        <div class="w-full md:w-max md:pl-5 pl-0">
          <h5 class="text-lg lg:text-22 font-pop anim pb-2.5 text-center md:text-left group-hover:text-white">Sales Funnel</h5>
          <p class="text-sm 2xl:text-base text-center md:text-left">We craft high converting and lead capturing sales funnel's for your campaign</p>
          <svg class="absolute bottom-3 right-9 w-6 delay-150 group-hover:right-3 dark:opacity-0 dark:group-hover:opacity-100 anim z-10" xmlns="http://www.w3.org/2000/svg" width="39" height="30" viewBox="0 0 39 30">
            <g data-name="Group 540" transform="translate(-20 -127.369)">
              <g data-name="Group 541" transform="translate(0 127.369)">
                <g data-name="Group 540" transform="translate(0 0)">
                  <path data-name="Path 764" d="M58.61,141.413h0L45.2,127.844a1.33,1.33,0,0,0-1.891-.148,1.368,1.368,0,0,0-.146,1.913,1.349,1.349,0,0,0,.146.148l11.116,11.262H21.341a1.357,1.357,0,0,0,0,2.714H54.427L43.311,154.982a1.368,1.368,0,0,0-.146,1.913,1.33,1.33,0,0,0,1.891.148,1.347,1.347,0,0,0,.146-.148L58.61,143.326A1.368,1.368,0,0,0,58.61,141.413Z" transform="translate(0 -127.369)" fill="#fff"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>
