  <div class="w-full text-center space-y-4 xl:pb-7 px-5">
    <h2>Process We Follow</h2>
    <p class="max-w-6xl mx-auto">We follow a diligent and systematic method for each assigned project. Our efficient team provides customized solutions as per the requirement we received from clients.</p>
  </div>
  
  <div class="max-w-screen-2xl mx-auto relative getBoxWidth">
    <div class="line-area absolute top-1/2 -translate-y-1/2 group-hover:w-full mx-auto w-0 overflow-hidden transition-all duration-1000 hidden lg:block">
      <div class="printBoxWidth">
        <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="1637.978" height="94.676" viewBox="0 0 1637.978 94.676">
          <g id="cove" transform="translate(1779 -2588)">
            <path data-name="Path 53" d="M1865.234,316.422c-52.411,0-78.876-22.516-104.47-44.291-25.62-21.8-49.819-42.385-99.287-42.385s-73.664,20.588-99.283,42.385c-25.593,21.775-52.057,44.291-104.465,44.291s-78.87-22.517-104.463-44.292c-25.618-21.8-49.815-42.385-99.279-42.385s-73.661,20.588-99.279,42.384c-25.593,21.775-52.057,44.292-104.465,44.292s-78.871-22.517-104.464-44.292c-25.618-21.8-49.815-42.385-99.279-42.385a4,4,0,0,1,0-8c52.407,0,78.871,22.516,104.463,44.291,25.618,21.8,49.815,42.385,99.279,42.385s73.663-20.588,99.281-42.385c25.593-21.775,52.056-44.291,104.463-44.291s78.871,22.516,104.464,44.291c25.618,21.8,49.815,42.385,99.279,42.385s73.663-20.588,99.281-42.384c25.593-21.775,52.058-44.292,104.467-44.292s78.877,22.516,104.471,44.291c25.62,21.8,49.819,42.385,99.286,42.385s73.667-20.588,99.286-42.385c25.594-21.775,52.06-44.291,104.471-44.291a4,4,0,0,1,0,8c-49.468,0-73.667,20.588-99.287,42.385C1944.111,293.906,1917.645,316.422,1865.234,316.422Z" transform="translate(-2621.5 2366.254)" fill="#d5d5d5"/>
            <path data-name="Path 54" d="M1727.242,316.422c-52.407,0-78.871-22.516-104.463-44.292-25.618-21.8-49.815-42.384-99.279-42.384a4,4,0,0,1,0-8c52.407,0,78.871,22.516,104.463,44.291,25.618,21.8,49.815,42.385,99.279,42.385s73.663-20.588,99.281-42.385c25.593-21.775,52.056-44.291,104.463-44.291a4,4,0,0,1,0,8c-49.464,0-73.661,20.588-99.279,42.384C1806.115,293.905,1779.651,316.422,1727.242,316.422Z" transform="translate(-2076.009 2366.254)" fill="#d5d5d5"/>
          </g>
        </svg>
      </div>
    </div>
    <div class="flex justify-center flex-wrap items-stretch stapAnim">
      <!-- 01 -->
      <div class="w-full md:w-1/3 elem lg:w-1/4 group px-5 py-2 md:py-5 xl:p-7 2xl:p-10 mt-7 md:mt-0 relative z-0 order-1 lg:order-1">
        <div class="stapAnim_1 h-full delay-700 group-hover:delay-75 anim">
          <div class="hidden lg:block">
            <span class="absolute flex bottom-0 xl:bottom-1 2xl:bottom-4 left-1/2 -translate-x-1/2 z-10 w-11 h-6 pb-2 overflow-hidden justify-center items-end">
            <span class="bg-slate-50 dark:bg-scalelot-primary w-8 h-8 rotate-45 dark:md:bg-opacity-30 backdrop-blur-xl"></span>
            </span>
            <span class="absolute -bottom-14 left-1/2 -translate-x-1/2 w-0 h-20 border-dashed border-l-4 border-scalelot-secondary"></span>
            <span class="absolute left-1/2 -translate-x-1/2 w-7 h-7 bg-slate-50 dark:bg-scalelot-darkPlus border border-white animTitle2 shadow-md rounded-full" style="bottom: -5.3rem;"></span>
          </div>
          <div class="flex items-center md:block py-2 ml-7 md:ml-0 md:p-8 lg:p-10 2xl:px-14 text-left md:text-center md:space-y-5 lg:space-y-8 shadow-coust bg-slate-50 dark:bg-scalelot-primary dark:md:bg-opacity-30 backdrop-blur-xl rounded-lg h-full">
            <div class="relative z-0">
              <span class="absolute left-0 top-full h-full -ml-px border-l border-dashed border-scalelot-secondary -z-10 hidden"></span>
              <h3 class="text-lg md:text-2xl lg:text-3xl animTitle rounded-full -translate-x-1/2 md:translate-x-0 w-14 h-14 md:w-20 md:h-20 lg:w-24 lg:h-24 font-pop flex items-center justify-center md:mx-auto delay-700 text-white dark:border-2 dark:border-scalelot-primary anim shadow">01</h3>
            </div>
            <p class="font-medium text-base lg:text-base xl:text-lg -ml-2 md:ml-0 md:min-h-[56px]">Requirement Gathering</p>
          </div>
        </div>
      </div>
      <!-- 03 -->
      <div class="w-full md:w-1/3 elem lg:w-1/4 group px-5 py-2 md:py-5 xl:p-7 2xl:p-10 relative z-[2] order-3 lg:order-2">
        <div class="stapAnim_2 h-full delay-300 group-hover:delay-150 anim">
          <div class="hidden lg:block">
            <span class="absolute flex bottom-0 xl:bottom-1 2xl:bottom-4 left-1/2 -translate-x-1/2 z-10 w-11 h-6 pb-2 overflow-hidden justify-center items-end">
            <span class="bg-slate-50 dark:bg-scalelot-primary w-8 h-8 rotate-45 dark:md:bg-opacity-30 backdrop-blur-xl"></span>
            </span>
            <span class="absolute -bottom-14 left-1/2 -translate-x-1/2 w-0 h-20 border-dashed border-l-4 border-scalelot-secondary"></span>
            <span class="absolute left-1/2 -translate-x-1/2 w-7 h-7 bg-slate-50 dark:bg-scalelot-darkPlus border border-white animTitle2 shadow-md rounded-full" style="bottom: -5.3rem;"></span>
          </div>
          <div class="flex items-center md:block py-2 ml-7 md:ml-0 md:p-8 lg:p-10 2xl:px-14 text-left md:text-center md:space-y-5 lg:space-y-8 shadow-coust bg-slate-50 dark:bg-scalelot-primary dark:md:bg-opacity-30 backdrop-blur-xl rounded-lg h-full">
            <div class="relative z-0">
              <span class="absolute left-0 top-full h-full -ml-px border-l border-dashed border-scalelot-secondary -z-10 hidden"></span>
              <h3 class="text-lg md:text-2xl lg:text-3xl animTitle rounded-full -translate-x-1/2 md:translate-x-0 w-14 h-14 md:w-20 md:h-20 lg:w-24 lg:h-24 font-pop flex items-center justify-center md:mx-auto delay-300 text-white dark:border-2 dark:border-scalelot-primary anim shadow">03</h3>
            </div>
            <p class="font-medium text-base lg:text-base xl:text-lg -ml-2 md:ml-0 md:min-h-[56px]">Prototype and Design</p>
          </div>
        </div>
      </div>
      <!-- 05 -->
      <div class="w-full md:w-1/3 elem lg:w-1/4 group px-5 py-2 md:py-5 xl:p-7 2xl:p-10 relative z-[4] order-5 lg:order-3">
        <div class="stapAnim_3 h-full delay-150 group-hover:delay-300 anim">
          <div class="hidden lg:block">
            <span class="absolute flex bottom-0 xl:bottom-1 2xl:bottom-4 left-1/2 -translate-x-1/2 z-10 w-11 h-6 pb-2 overflow-hidden justify-center items-end">
            <span class="bg-slate-50 dark:bg-scalelot-primary w-8 h-8 rotate-45 dark:md:bg-opacity-30 backdrop-blur-xl"></span>
            </span>
            <span class="absolute -bottom-14 left-1/2 -translate-x-1/2 w-0 h-20 border-dashed border-l-4 border-scalelot-secondary"></span>
            <span class="absolute left-1/2 -translate-x-1/2 w-7 h-7 bg-slate-50 dark:bg-scalelot-darkPlus border border-white animTitle2 shadow-md rounded-full" style="bottom: -5.3rem;"></span>
          </div>
          <div class="flex items-center md:block py-2 ml-7 md:ml-0 md:p-8 lg:p-10 2xl:px-14 text-left md:text-center md:space-y-5 lg:space-y-8 shadow-coust bg-slate-50 dark:bg-scalelot-primary dark:md:bg-opacity-30 backdrop-blur-xl rounded-lg h-full">
            <div class="relative z-0">
              <span class="absolute left-0 top-full h-full -ml-px border-l border-dashed border-scalelot-secondary -z-10 hidden"></span>
              <h3 class="text-lg md:text-2xl lg:text-3xl animTitle rounded-full -translate-x-1/2 md:translate-x-0 w-14 h-14 md:w-20 md:h-20 lg:w-24 lg:h-24 font-pop flex items-center justify-center md:mx-auto delay-150 text-white dark:border-2 dark:border-scalelot-primary anim shadow">05</h3>
            </div>
            <p class="font-medium text-base lg:text-base xl:text-lg -ml-2 md:ml-0 md:min-h-[56px]">Testing and Quality Assurance</p>
          </div>
        </div>
      </div>
      <!-- 07 -->
      <div class="w-full md:w-1/3 elem lg:w-1/4 group px-5 py-2 md:py-5 xl:p-7 2xl:p-10 relative z-[6] order-7 lg:order-4">
        <div class="stapAnim_4 h-full delay-75 group-hover:delay-700 anim">
          <div class="hidden lg:block">
            <span class="absolute hidden md:flex bottom-0 xl:bottom-1 2xl:bottom-4 left-1/2 -translate-x-1/2 z-10 w-11 h-6 pb-2 overflow-hidden justify-center items-end">
            <span class="bg-slate-50 dark:bg-scalelot-primary w-8 h-8 rotate-45 dark:md:bg-opacity-30 backdrop-blur-xl"></span>
            </span>
            <span class="absolute hidden lg:block -bottom-14 left-1/2 -translate-x-1/2 w-0 h-20 border-dashed border-l-4 border-scalelot-secondary"></span>
            <span class="absolute hidden lg:block left-1/2 -translate-x-1/2 w-7 h-7 bg-slate-50 dark:bg-scalelot-darkPlus border border-white animTitle2 shadow-md rounded-full" style="bottom: -5.3rem;"></span>
          </div>
          <div class="flex items-center md:block py-2 ml-7 md:ml-0 md:p-8 lg:p-10 2xl:px-14 text-left md:text-center md:space-y-5 lg:space-y-8 shadow-coust bg-slate-50 dark:bg-scalelot-primary dark:md:bg-opacity-30 backdrop-blur-xl rounded-lg h-full">
            <div class="relative z-0">
              <!-- <span class="absolute left-0 top-full h-full -ml-l-px border border-dashed border-scalelot-secondary -z-10 md:hidden"></span> -->
              <h3 class="text-lg md:text-2xl lg:text-3xl animTitle rounded-full -translate-x-1/2 md:translate-x-0 w-14 h-14 md:w-20 md:h-20 lg:w-24 lg:h-24 font-pop flex items-center justify-center md:mx-auto delay-75 text-white dark:border-2 dark:border-scalelot-primary anim shadow">07</h3>
            </div>
            <p class="font-medium text-base lg:text-base xl:text-lg -ml-2 md:ml-0 md:min-h-[56px]">Maintenance and Support</p>
          </div>
        </div>
      </div>
      <!-- 02 -->
      <div class="w-full md:w-1/3 elem lg:w-1/4 group px-5 py-2 md:py-5 xl:p-7 2xl:p-10 md:mt-0 lg:mt-[5rem] xl:mt-[4.5rem] 2xl:mt-[3.8rem] relative z-[1] order-2 lg:order-5">
        <div class="stapAnim_5 h-full delay-500 group-hover:delay-100 anim">
          <div class="hidden lg:block">
            <span class="absolute flex lg:hidden bottom-0 xl:bottom-1 2xl:bottom-4 left-1/2 -translate-x-1/2 z-10 w-11 h-6 pb-2 overflow-hidden justify-center items-end">
            <span class="bg-slate-50 dark:bg-scalelot-primary w-8 h-8 rotate-45 dark:md:bg-opacity-30 backdrop-blur-xl"></span>
            </span>
            <span class="absolute block lg:hidden -bottom-14 left-1/2 -translate-x-1/2 w-0 h-20 border-dashed border-l-4 border-scalelot-secondary"></span>
            <span class="absolute block lg:hidden left-1/2 -translate-x-1/2 w-7 h-7 bg-slate-50 dark:bg-scalelot-darkPlus border border-white animTitle2 shadow-md rounded-full" style="bottom: -5.3rem;"></span>
            <span class="absolute hidden lg:flex top-0 xl:top-1 2xl:top-4 left-1/2 -translate-x-1/2 z-10 w-11 h-6 pt-2 overflow-hidden justify-center items-start"><span class="block bg-slate-50 dark:bg-scalelot-primary dark:bg-opacity-30 w-8 h-8 rotate-45 backdrop-blur-xl"></span></span>
            <span class="absolute hidden lg:block -top-14 left-1/2 -translate-x-1/2 w-0 h-20 border-dashed border-l-4 border-scalelot-secondary dark:border-scalelot-secondary"></span>
            <span class="absolute hidden lg:block left-1/2 -translate-x-1/2 w-7 h-7 bg-slate-50 dark:bg-scalelot-darkPlus border border-white animTitle2 shadow-md rounded-full" style="top: -5.3rem;"></span>
          </div>
          <div class="flex items-center md:block py-2 ml-7 md:ml-0 md:p-8 lg:p-10 2xl:px-14 text-left md:text-center md:space-y-5 lg:space-y-8 shadow-coust bg-slate-50 dark:bg-scalelot-primary dark:md:bg-opacity-30 backdrop-blur-xl rounded-lg h-full">
            <div class="relative z-0">
              <span class="absolute left-0 top-full h-full -ml-px border-l border-dashed border-scalelot-secondary -z-10 hidden"></span>
              <h3 class="text-lg md:text-2xl lg:text-3xl animTitle rounded-full -translate-x-1/2 md:translate-x-0 w-14 h-14 md:w-20 md:h-20 lg:w-24 lg:h-24 font-pop flex items-center justify-center md:mx-auto delay-500 text-white dark:border-2 dark:border-scalelot-primary anim shadow">02</h3>
            </div>
            <p class="font-medium text-base lg:text-base xl:text-lg -ml-2 md:ml-0 md:min-h-[56px]">Understand Requirements</p>
          </div>
        </div>
      </div>
      <!-- 04 -->
      <div class="w-full md:w-1/3 elem lg:w-1/4 group px-5 py-2 md:py-5 xl:p-7 2xl:p-10 md:mt-0 lg:mt-[5rem] xl:mt-[4.5rem] 2xl:mt-[3.8rem] relative z-[3] order-4 lg:order-6">
        <div class="stapAnim_6 h-full delay-200 group-hover:delay-200 anim">
          <div class="hidden lg:block">
            <span class="absolute flex lg:hidden bottom-0 xl:bottom-1 2xl:bottom-4 left-1/2 -translate-x-1/2 z-10 w-11 h-6 pb-2 overflow-hidden justify-center items-end">
            <span class="bg-slate-50 dark:bg-scalelot-primary w-8 h-8 rotate-45 dark:md:bg-opacity-30 backdrop-blur-xl"></span>
            </span>
            <span class="absolute block lg:hidden -bottom-14 left-1/2 -translate-x-1/2 w-0 h-20 border-dashed border-l-4 border-scalelot-secondary"></span>
            <span class="absolute block lg:hidden left-1/2 -translate-x-1/2 w-7 h-7 bg-slate-50 dark:bg-scalelot-darkPlus border border-white animTitle2 shadow-md rounded-full" style="bottom: -5.3rem;"></span>
            <span class="absolute hidden lg:flex top-0 xl:top-1 2xl:top-4 left-1/2 -translate-x-1/2 z-10 w-11 h-6 pt-2 overflow-hidden justify-center items-start"><span class="block bg-slate-50 dark:bg-scalelot-primary dark:bg-opacity-30 w-8 h-8 rotate-45 backdrop-blur-xl"></span></span>
            <span class="absolute hidden lg:block -top-14 left-1/2 -translate-x-1/2 w-0 h-20 border-dashed border-l-4 border-scalelot-secondary dark:border-scalelot-secondary"></span>
            <span class="absolute hidden lg:block left-1/2 -translate-x-1/2 w-7 h-7 bg-slate-50 dark:bg-scalelot-darkPlus border border-white animTitle2 shadow-md rounded-full" style="top: -5.3rem;"></span>
          </div>
          <div class="flex items-center md:block py-2 ml-7 md:ml-0 md:p-8 lg:p-10 2xl:px-14 text-left md:text-center md:space-y-5 lg:space-y-8 shadow-coust bg-slate-50 dark:bg-scalelot-primary dark:md:bg-opacity-30 backdrop-blur-xl rounded-lg h-full">
            <div class="relative z-0">
              <span class="absolute left-0 top-full h-full -ml-px border-l border-dashed border-scalelot-secondary -z-10 hidden"></span>
              <h3 class="text-lg md:text-2xl lg:text-3xl animTitle rounded-full -translate-x-1/2 md:translate-x-0 w-14 h-14 md:w-20 md:h-20 lg:w-24 lg:h-24 font-pop flex items-center justify-center md:mx-auto delay-200 text-white dark:border-2 dark:border-scalelot-primary anim shadow">04</h3>
            </div>
            <p class="font-medium text-base lg:text-base xl:text-lg -ml-2 md:ml-0 md:min-h-[56px]">Development</p>
          </div>
        </div>
      </div>
      <!-- 06 -->
      <div class="w-full md:w-1/3 elem lg:w-1/4 group px-5 py-2 md:py-5 xl:p-7 2xl:p-10 md:mt-0 lg:mt-[5rem] xl:mt-[4.5rem] 2xl:mt-[3.8rem] relative del z-[5] order-6 lg:order-7">
        <div class="stapAnim_7 h-full delay-100 group-hover:delay-500 anim">
          <div class="hidden lg:block">
            <span class="absolute flex lg:hidden bottom-0 xl:bottom-1 2xl:bottom-4 left-1/2 -translate-x-1/2 z-10 w-11 h-6 pb-2 overflow-hidden justify-center items-end">
            <span class="bg-slate-50 dark:bg-scalelot-primary w-8 h-8 rotate-45 dark:md:bg-opacity-30 backdrop-blur-xl"></span>
            </span>
            <span class="absolute block lg:hidden -bottom-14 left-1/2 -translate-x-1/2 w-0 h-20 border-dashed border-l-4 border-scalelot-secondary"></span>
            <span class="absolute block lg:hidden left-1/2 -translate-x-1/2 w-7 h-7 bg-slate-50 dark:bg-scalelot-darkPlus border border-white animTitle2 shadow-md rounded-full" style="bottom: -5.3rem;"></span>
            <span class="absolute hidden lg:flex top-0 xl:top-1 2xl:top-4 left-1/2 -translate-x-1/2 z-10 w-11 h-6 pt-2 overflow-hidden justify-center items-start"><span class="block bg-slate-50 dark:bg-scalelot-primary dark:bg-opacity-30 w-8 h-8 rotate-45 backdrop-blur-xl"></span></span>
            <span class="absolute hidden lg:block -top-14 left-1/2 -translate-x-1/2 w-0 h-20 border-dashed border-l-4 border-scalelot-secondary dark:border-scalelot-secondary"></span>
            <span class="absolute hidden lg:block left-1/2 -translate-x-1/2 w-7 h-7 bg-slate-50 dark:bg-scalelot-darkPlus border border-white animTitle2 shadow-md rounded-full" style="top: -5.3rem;"></span>
          </div>
          <div class="flex items-center md:block py-2 ml-7 md:ml-0 md:p-8 lg:p-10 2xl:px-14 text-left md:text-center md:space-y-5 lg:space-y-8 shadow-coust bg-slate-50 dark:bg-scalelot-primary dark:md:bg-opacity-30 backdrop-blur-xl rounded-lg h-full">
            <div class="relative z-0">
              <span class="absolute left-0 top-full h-full -ml-px border-l border-dashed border-scalelot-secondary -z-10 hidden"></span>
              <h3 class="text-lg md:text-2xl lg:text-3xl animTitle rounded-full -translate-x-1/2 md:translate-x-0 w-14 h-14 md:w-20 md:h-20 lg:w-24 lg:h-24 font-pop flex items-center justify-center md:mx-auto delay-100 text-white dark:border-2 dark:border-scalelot-primary anim shadow">06</h3>
            </div>
            <p class="font-medium text-base lg:text-base xl:text-lg -ml-2 md:ml-0 md:min-h-[56px]">Deployment and Go Live</p>
          </div>
        </div>
      </div>
    </div>
  </div>
