<div id="success_popup" class="popup fixed inset-0 left-full w-screen h-screen flex items-center justify-center bg-scalelot-primary bg-opacity-80 backdrop-blur-sm p-4 md:py-12 anim z-40">
  <div class="max-w-md w-full max-h-[90vh] overflow-y-auto bg-white text-black dark:bg-scalelot-primary dark:text-white p-5 rounded-lg relative">
    <a href="javascript:void(0);" onclick="removeActiveD('#success_popup', 'show')" class="absolute right-5 top-5 text-2xl lg:text-3xl 2xl:text-4xl hover:text-scalelot-secondary">&#x2715;</a>
    <div class="text-center space-y-3 py-9">
      <h4>Your query has been submited</h4>
      <h6>Our experts will respond as soon as possible.</h6>
      <h4>Thank you! </h4>
    </div>
  </div>
</div>