<section>
    <div class="max-w-screen-2xl mx-auto py-12 lg:py-16 xl:py-24 2xl:py-28 px-5 lg:px-9 ">
      <h2 class="text-center lg:pb-10 pb-5">Why Choose Scalelot?</h2>
      <div class="flex flex-wrap items-center justify-center lg:pt-12 pt-5">
        <div class="md:w-1/2 w-full md:order-1 order-2 pt-5 md:pt-0">
          <div class="flex py-1.5">
            <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
            <p class="group-hover:text-white anim">
              Best for startups and big enterprises, as we incorporate advanced technologies and develop business solutions for the next generation.
            </p>
          </div>
          <div class="flex py-1.5">
            <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
            <p class="group-hover:text-white anim">
              Our talented and experienced professionals take a deep dive into your business requirements, and analyze and recommend the best solutions to streamline your business.
            </p>
          </div>
          <div class="flex py-1.5">
            <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
            <p class="group-hover:text-white anim">
              The entire <a href="/about-us" class="font-extrabold"> Scalelot team</a> follows an agile methodology for software development and embraces the successful ideas of iterative approach and incremental development.
            </p>
          </div>
          <div class="flex py-1.5">
            <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span> 
            <p class="group-hover:text-white anim">
              Our QA team ensures the function output, device compatibility, and optimum performance throughout the lifecycle of the project.
            </p>
          </div>
          <div class="flex py-1.5">
            <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
            <p class="group-hover:text-white anim">
              We build a reputation in the global market on quality services, providing live project reports, affordability, and timely delivery.
            </p>
          </div>
        </div>
        <div class="md:w-1/2 w-full md:order-2 order-1">
          <div class="pb-5 md:pb-0 md:pl-9">
            <img src="/assets/images/web-services/angular-development/light/why-choose-scalelot.svg" alt="Why Choose Scalelot" class="block mx-auto dark:hidden">
            <img src="/assets/images/web-services/angular-development/dark/why-choose-scalelot.svg"alt="Why Choose Scalelot" class="hidden mx-auto dark:block">
          </div>
        </div>
      </div>
    </div>
  </section>