<!-- Head Top -->
<%- include ("components/headTop.ejs") %>

<!-- Meta [Start] -->
<title>Offshore | App Development Cost | Website Development Cost </title>
<meta name="title" content=" Offshore | App Development Cost | Website Development Cost"> 
<meta name="description" content="Scalet Technologies is the best offshore development company specializing in mobile app, website, web app development. You can check each developer's cost.  ">
<meta name="author" content="Scalelot Technologies">
<meta name="copyright" content="Scalelot Technologies">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index,follow" />
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large" />
<meta name="Googlebot" content="index, follow, max-snippet:100, max-image-preview:standard, max-image-preview:large" />
<meta name="Googlebot-Image" content="max-image-preview:standard, max-image-preview:large" />
<meta name="Googlebot-Video" content="max-video-preview:-1">
<meta name="yahoobot" content="index, follow" />
<meta name="msnbot" content="index,follow" />
<meta name="rating" content="general">
<meta name="keywords" content="Offshore, App Development Cost, Website Development Cost ">
<meta property="og:title" content="Offshore | App Development Cost | Website Development Cost ">
<meta property="og:site_name" content="Scalelot Technologies">
<meta property="og:url" content="https://scalelot.com/offshore">
<meta property="og:description" content="Scalet Technologies is the best offshore development company specializing in mobile app, website, web app development. You can check each developer's cost.  ">
<meta property="og:type" content="website">
<meta property="og:image" content="https://scalelot.com/assets/images/scalelot-logo.svg">
<meta property="og:image:width" content="850"/>
<meta property="og:image:height" content="850"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Offshore | App Development Cost | Website Development Cost ">
<meta name="twitter:site" content="@ScalelotT"> 
<meta name="twitter:creator" content="@ScalelotT"/>
<meta name="twitter:description" content="Scalet Technologies is the best offshore development company specializing in mobile app, website, web app development. You can check each developer's cost.  ">
<meta name="twitter:image" content="https://scalelot.com/assets/images/scalelot-logo.svg">
<meta name="twitter:image:alt" content="Offshore">
<link rel="canonical" href="https://scalelot.com/offshore"/>
<!-- Meta [End] -->

<!-- Head Bottom -->
<script type="application/ld+json">{"@context":"https://schema.org/","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://scalelot.com/"},{"@type":"ListItem","position":2,"name":"Offshore - Price Estimation","item":"https://scalelot.com/offshore"}]}</script>
<%- include ("components/headBot.ejs") %>

<!-- offshore start -->
<section class="pb-12 pt-16 lg:py-16 xl:py-24 2xl:py-28">
  <div class="max-w-screen-2xl mx-auto px-5">
    <div class="flex flex-wrap items-center justify-center">
      <div class="w-full md:w-1/2 order-2 md:order-1">
        <h1>Offshore Team</h1>
        <p class="lg:pt-7 pt-3">We offer cost effective IT solutions for you with high performing trending features.</p>
        <div class="w-full lg:pt-12 pt-5">
          <a href="#Hire_Form" class="btn-border group anim rounded-full border">
            <span class="bleft anim group-hover:left-0"></span>
            Get a Quote
            <span class="bright anim group-hover:-right-full"></span>
          </a>
        </div>
      </div>
      <div class="w-full md:w-1/2 order-1 md:order-2 lg:pt-0 md:pb-10 pb-5 pl-0 md:pl-7">
        <div class="pb-5 md:pb-0 md:pr-9">
          <img src="/assets/images/offshore-team/light/offshore-team.svg" alt="Offshore Team" class="block dark:hidden">
          <img src="/assets/images/offshore-team/dark/offshore-team.svg" alt="Offshore Team" class="hidden dark:block">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- process we follow section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h2 class="text-center">Process We Follow</h2>
    <div class="flex flex-wrap justify-center pt-6 space-y-5 md:space-y-0">
      <div class="w-full sm:w-1/2 lg:w-1/3 relative sm:p-3.5">
        <div class="flex border-2 border-scalelot-primary rounded-2xl h-full">
          <div class="relative dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl 2xl:py-14 py-10 px-7 anim overflow-hidden">
            <span class="flex items-center justify-center absolute w-16 h-16 group-hover:w-20 group-hover:h-20  right-0 top-0 rounded-bl-full z-20 bg-scalelot-primary group-hover:bg-white dark:bg-scalelot-darkPlus text-white group-hover:text-scalelot-primary text-lg group-hover:text-xl pl-2.5 pb-2.5 font-semibold anim">01</span>
            <span class="absolute anim w-9 h-[calc(100%+300px)] dark:opacity-0 dark:group-hover:opacity-10 top-1/2 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-5"></span>
            <div class="flex items-center justify-center anim md:w-24 md:h-24 w-16 h-16 rounded-full border border-scalelot-primary dark:border-white relative mx-auto group-hover:bg-white">
              <span class="icon-requirement text-4xl md:text-5xl group-hover:text-scalelot-primary"></span>
            </div>
            <h5 class="font-pop text-center pt-3.5 group-hover:text-white">Requirement Gathering</h5>
            <p class="text-center pt-3.5">After getting your inquiry, we collect project requirements.</p>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/3 relative sm:p-3.5">
        <div class="flex border-2 border-scalelot-primary rounded-2xl h-full">
          <div class="relative dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl 2xl:py-14 py-10 px-7 anim overflow-hidden">
            <span class="flex items-center justify-center absolute w-16 h-16 group-hover:w-20 group-hover:h-20  right-0 top-0 rounded-bl-full z-20 bg-scalelot-primary group-hover:bg-white dark:bg-scalelot-darkPlus text-white group-hover:text-scalelot-primary text-lg group-hover:text-xl pl-2.5 pb-2.5 font-semibold anim">02</span>
            <span class="absolute anim w-9 h-[calc(100%+300px)] dark:opacity-0 dark:group-hover:opacity-10 top-1/2 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-5"></span>
            <div class="flex items-center justify-center anim md:w-24 md:h-24 w-16 h-16 rounded-full border border-scalelot-primary dark:border-white relative mx-auto group-hover:bg-white">
              <span class="icon-interview text-4xl md:text-5xl group-hover:text-scalelot-primary"></span>
            </div>
            <h5 class="font-pop text-center pt-3.5 group-hover:text-white">Hire your developer</h5>
            <p class="text-center pt-3.5">Once you take an interview and choose your developer, we finish formalities.</p>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/3 relative sm:p-3.5">
        <div class="flex border-2 border-scalelot-primary rounded-2xl h-full">
          <div class="relative dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl 2xl:py-14 py-10 px-7 anim overflow-hidden">
            <span class="flex items-center justify-center absolute w-16 h-16 group-hover:w-20 group-hover:h-20  right-0 top-0 rounded-bl-full z-20 bg-scalelot-primary group-hover:bg-white dark:bg-scalelot-darkPlus text-white group-hover:text-scalelot-primary text-lg group-hover:text-xl pl-2.5 pb-2.5 font-semibold anim">03</span>
            <span class="absolute anim w-9 h-[calc(100%+300px)] dark:opacity-0 dark:group-hover:opacity-10 top-1/2 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-5"></span>
            <div class="flex items-center justify-center anim md:w-24 md:h-24 w-16 h-16 rounded-full border border-scalelot-primary dark:border-white relative mx-auto group-hover:bg-white">
              <span class="icon-selection text-4xl md:text-5xl group-hover:text-scalelot-primary"></span>
            </div>
            <h5 class="font-pop text-center pt-3.5 group-hover:text-white">Sign the Contract</h5>
            <p class="text-center pt-3.5">We sign a contract with you for the work once all requirements are received.</p>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/3 relative sm:p-3.5">
        <div class="flex border-2 border-scalelot-primary rounded-2xl h-full">
          <div class="relative dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl 2xl:py-14 py-10 px-7 anim overflow-hidden">
            <span class="flex items-center justify-center absolute w-16 h-16 group-hover:w-20 group-hover:h-20  right-0 top-0 rounded-bl-full z-20 bg-scalelot-primary group-hover:bg-white dark:bg-scalelot-darkPlus text-white group-hover:text-scalelot-primary text-lg group-hover:text-xl pl-2.5 pb-2.5 font-semibold anim">04</span>
            <span class="absolute anim w-9 h-[calc(100%+300px)] dark:opacity-0 dark:group-hover:opacity-10 top-1/2 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-5"></span>
            <div class="flex items-center justify-center anim md:w-24 md:h-24 w-16 h-16 rounded-full border border-scalelot-primary dark:border-white relative mx-auto group-hover:bg-white">
              <span class="icon-sign-the-contract text-4xl md:text-5xl group-hover:text-scalelot-primary"></span>
            </div>
            <h5 class="font-pop text-center pt-3.5 group-hover:text-white">Start Your project</h5>
            <p class="text-center pt-3.5">As soon as all the formalities are completed we start working on your project.
            <p>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/3 relative sm:p-3.5">
        <div class="flex border-2 border-scalelot-primary rounded-2xl h-full">
          <div class="relative dark:bg-scalelot-primary hover:bg-scalelot-primary hover:text-gray-300 cursor-pointer group h-full rounded-2xl 2xl:py-14 py-10 px-7 anim overflow-hidden">
            <span class="flex items-center justify-center absolute w-16 h-16 group-hover:w-20 group-hover:h-20  right-0 top-0 rounded-bl-full z-20 bg-scalelot-primary group-hover:bg-white dark:bg-scalelot-darkPlus text-white group-hover:text-scalelot-primary text-lg group-hover:text-xl pl-2.5 pb-2.5 font-semibold anim">05</span>
            <span class="absolute anim w-9 h-[calc(100%+300px)] dark:opacity-0 dark:group-hover:opacity-10 top-1/2 transform -translate-y-1/2 -rotate-45  bg-white opacity-10 right-full block delay-150 group-hover:-right-5"></span>
            <div class="flex items-center justify-center anim md:w-24 md:h-24 w-16 h-16 rounded-full border border-scalelot-primary dark:border-white relative mx-auto group-hover:bg-white">
              <span class="icon-start-project text-4xl md:text-5xl group-hover:text-scalelot-primary"></span>
            </div>
            <h5 class="font-pop text-center pt-3.5 group-hover:text-white">Support & Maintenance</h5>
            <p class="text-center pt-3.5">We provide utmost support to you throughout the process.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hire dedicated developers  -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28 items-center">
    <div class="text-center pb-4 md:pb-8 lg:pb-16">
      <h2>Hire Dedicated Developer</h2>
      <p>Are you looking for an opportunity to hire Scalelot’s well-versed dedicated developers? Start your brand new project with a dedicated, passionate team of developers. We have various models for hiring developers. Hire dedicated designer and developers on an hourly, monthly, or full-time basis as per your business need.</p>
    </div>
    <div class="Job-Positions flex flex-wrap justify-center text-center">
      <div class="w-full md:w-1/2 lg:w-1/3 hover:scale-90 hover:duration-300 duration-300 p-3.5 px-0 md:sm:px-3.5">
        <div class="iPhone-Developer shadow-one bg-white dark:bg-scalelot-primary rounded-lg py-10 h-full">
          <div class="rounded-full h-28 w-28  flex items-center justify-center dark:bg-scalelot-darkPlus text-center mx-auto mb-11 shadow-one p-3.5">
            <img src="/assets/images/svg/angular.svg" alt="angular"/>
          </div>
          <h5 class="mb-5"> Angular Dedicated Developer</h5>
          <a href="#Hire_Form" class="anim py-4 px-12 inline-block bg-scalelot-primary dark:bg-transparent dark:hover:opacity-50 border border-white hover:opacity-90 cursor-pointer text-white rounded">Hire Now</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 hover:scale-90 hover:duration-300 duration-300 p-3.5 px-0 md:sm:px-3.5">
        <div class="iPhone-Developer shadow-one bg-white dark:bg-scalelot-primary rounded-lg py-10 h-full">
          <div class="rounded-full h-28 w-28  flex items-center justify-center text-center dark:bg-scalelot-darkPlus mx-auto mb-11 shadow-one p-3.5">
            <img src="/assets/images/svg/react.svg" alt="react"/>
          </div>
          <h5 class="mb-5"> Reactjs Dedicated Developer</h5>      
          <a href="#Hire_Form" class="anim py-4 px-12 inline-block bg-scalelot-primary dark:bg-transparent dark:hover:opacity-50 border border-white hover:opacity-90 cursor-pointer text-white rounded">Hire Now</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 hover:scale-90 hover:duration-300 duration-300 p-3.5 px-0 md:sm:px-3.5">
        <div class="iPhone-Developer shadow-one bg-white dark:bg-scalelot-primary rounded-lg py-10 h-full">
          <div class="rounded-full h-28 w-28  flex items-center justify-center text-center dark:bg-scalelot-darkPlus mx-auto mb-11 shadow-one p-3.5">
            <img src="/assets/images/svg/nodejs.svg" alt="nodejs"/>
          </div>
          <h5 class="mb-5">Nodejs Dedicated Developer</h5>
          <a href="#Hire_Form" class="anim py-4 px-12 inline-block bg-scalelot-primary dark:bg-transparent dark:hover:opacity-50 border border-white hover:opacity-90 cursor-pointer text-white rounded">Hire Now</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 hover:scale-90 hover:duration-300 duration-300 p-3.5 px-0 md:sm:px-3.5">
        <div class="iPhone-Developer shadow-one bg-white dark:bg-scalelot-primary rounded-lg py-10 h-full">
          <div class="rounded-full h-28 w-28  flex items-center justify-center text-center dark:bg-scalelot-darkPlus mx-auto mb-11 shadow-one p-3.5">
            <img src="/assets/images/svg/python.svg" alt="python"/>
          </div>
          <h5 class="mb-5">Python Dedicated Developer</h5>
          <a href="#Hire_Form" class="anim py-4 px-12 inline-block bg-scalelot-primary dark:bg-transparent dark:hover:opacity-50 border border-white hover:opacity-90 cursor-pointer text-white rounded">Hire Now</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 hover:scale-90 hover:duration-300 duration-300 p-3.5 px-0 md:sm:px-3.5">
        <div class="iPhone-Developer shadow-one bg-white dark:bg-scalelot-primary rounded-lg py-10 h-full">
          <div class="rounded-full h-28 w-28  flex items-center justify-center text-center dark:bg-scalelot-darkPlus mx-auto mb-11 shadow-one p-3.5">
            <img src="/assets/images/svg/wordpress.svg" alt="wordpress"/>
          </div>
          <h5 class="mb-5">Wordpress Dedicated Developer</h5>
          <a href="#Hire_Form" class="anim py-4 px-12 inline-block bg-scalelot-primary dark:bg-transparent dark:hover:opacity-50 border border-white hover:opacity-90 cursor-pointer text-white rounded">Hire Now</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 hover:scale-90 hover:duration-300 duration-300 p-3.5 px-0 md:sm:px-3.5">
        <div class="iPhone-Developer shadow-one bg-white dark:bg-scalelot-primary rounded-lg py-10 h-full">
          <div class="rounded-full h-28 w-28  flex items-center justify-center dark:bg-scalelot-darkPlus text-center mx-auto mb-11 shadow-one p-3.5">
            <img src="/assets/images/svg/apple.svg" alt="apple" class="dark:invert dark:brightness-0" />
          </div>
          <h5 class="mb-5">Ios Dedicated Developer</h5>
          <a href="#Hire_Form" class="anim py-4 px-12 inline-block bg-scalelot-primary dark:bg-transparent dark:hover:opacity-50 border border-white hover:opacity-90 cursor-pointer text-white rounded">Hire Now</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 hover:scale-90 hover:duration-300 duration-300 p-3.5 px-0 md:sm:px-3.5">
        <div class="iPhone-Developer shadow-one bg-white dark:bg-scalelot-primary rounded-lg py-10 h-full">
          <div class="rounded-full h-28 w-28  flex items-center justify-center dark:bg-scalelot-darkPlus text-center mx-auto mb-11 shadow-one p-3.5">
            <img src="/assets/images/svg/android.svg" alt="android"/>
          </div>
          <h5 class="mb-5">Android Dedicated Developer</h5>
          <a href="#Hire_Form" class="anim py-4 px-12 inline-block bg-scalelot-primary dark:bg-transparent dark:hover:opacity-50 border border-white hover:opacity-90 cursor-pointer text-white rounded">Hire Now</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 hover:scale-90 hover:duration-300 duration-300 p-3.5 px-0 md:sm:px-3.5">
        <div class="iPhone-Developer shadow-one bg-white dark:bg-scalelot-primary rounded-lg py-10 h-full">
          <div class="rounded-full h-28 w-28  flex items-center justify-center dark:bg-scalelot-darkPlus text-center mx-auto mb-11 shadow-one p-5">
            <img src="/assets/images/svg/flutter.svg" class="max-w-[75%]" alt="flutter"/>
          </div>
          <h5 class="mb-5">Flutter Dedicated Developer</h5>
          <a href="#Hire_Form" class="anim py-4 px-12 inline-block bg-scalelot-primary dark:bg-transparent dark:hover:opacity-50 border border-white hover:opacity-90 cursor-pointer text-white rounded">Hire Now</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 hover:scale-90 hover:duration-300 duration-300 p-3.5 px-0 md:sm:px-3.5">
        <div class="iPhone-Developer shadow-one bg-white dark:bg-scalelot-primary rounded-lg py-10 h-full">
          <div class="rounded-full h-28 w-28  flex items-center justify-center dark:bg-scalelot-darkPlus text-center mx-auto mb-11 shadow-one p-3.5">
            <img src="/assets/images/svg/shopify.svg" class="max-w-[80%]" alt="shopify"/>
          </div>
          <h5 class="mb-5">Shopify Dedicated Developer</h5>
          <a href="#Hire_Form" class="anim py-4 px-12 inline-block bg-scalelot-primary dark:bg-transparent dark:hover:opacity-50 border border-white hover:opacity-90 cursor-pointer text-white rounded">Hire Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Hire From Us? -->
<%- include ("components/why_hire_from_us.ejs") %>
<!-- Service Details section -->
<section>
  <div class="max-w-screen-2xl mx-auto py-12 lg:py-16 xl:py-24 2xl:py-28 px-5">
    <h2 class="text-center">Service Details</h2>
    <div class="flex flex-wrap items-center lg:py-12 py-5">
      <div class="md:w-1/2 w-full pb-6 md:pb-0">
        <div class="pb-5 md:pb-0 md:pr-9">
          <img src="/assets/images/offshore-team/light/service-details.svg" alt="Services" class="block dark:hidden">
          <img src="/assets/images/offshore-team/dark/service-details.svg" alt="Scalelot Services" class="hidden dark:block">
        </div>      </div>
      <div class="md:w-1/2 w-full space-y-3.5">
        <div class="flex">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
          <p class="">
            We offer software development services with industry driven top notch web and mobile app development that meet the demand globally.
          </p>
        </div>
        <div class="flex">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
          <p class="">
            Develop high end customized featured mobile applications that break geographical barriers and give expected results.
          </p>
        </div>
        <div class="flex">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
          <p class="">
            We offer highly interactive feature rich user interface (UI) design along with 2D/3D experience for game development solutions.
          </p>
        </div>
        <div class="flex">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span> 
          <p class="">
            Get your business digitalized and make your multipurpose website and increase online visibility, more traffic and great revenues.
          </p>
        </div>
        <div class="flex">
          <span class="text-2xl lg:text-3xl mr-1.5 lg:mr-3 top-0 pt-0.5 lg:pt-0 leading-3 md:leading-5 lg:leading-6 xl:leading-7 text-scalelot-secondary">&#187;</span>
          <p class="">
            We craft modern design by following innovative ideas to create scalable and user friendly interfaces to get a mesmerizing experience. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hire Form -->
<%- include ("components/hire_form.ejs") %>