<!-- Head Top -->
<%- include ("components/headTop.ejs") %>

<!-- Meta [Start] -->

<!-- Meta [End] -->

<!-- Head Bottom -->
<%- include ("components/headBot.ejs") %>

<div class="flex flex-col justify-center items-center bg-white dark:bg-transparent w-screen py-48">
  <span class="w-24 h-24 bg-green-500 text-white rounded-full flex items-center justify-center text-6xl"><span>&#10004;</span></span>
  <h4 class="pt-7">Thank you for connecting us!</h4>
  <p class="pb-7">Our executive will reach you soon.</p>
  <div class="text-center w-full relative">
    <button onclick="window.location='/'" type="button" class="btn-border text-current border-current group anim rounded-full border">
      <span class="bleft anim group-hover:left-0"></span>
      Back To Home
      <span class="bright anim group-hover:-right-full"></span>
    </button>
  </div>
</div>