<!-- Head Top -->
<%- include ("components/headTop.ejs") %>

<!-- Meta [Start] -->

<!-- Meta [End] -->

<!-- Head Bottom -->
<%- include ("components/headBot.ejs") %>

<!-- work section -->
<section class="pb-12 pt-16 lg:py-16 xl:py-24 2xl:py-28">
  <div class="max-w-screen-2xl mx-auto pb-5 px-5 lg:px-9">
    <div class="flex flex-wrap items-center ">
      <div class="w-full md:w-5/12">
        <h1 class="font-pop">Our Best Works</h1>
        <p class="py-2">Scalelot Technology is the voice of advanced technology that designs and develops top-notch applications for worldwide clients. We are genuinely proud to work with some world’s leading brands and deliver innovative business-related applications and solutions.</p>
      </div>
      <div class="w-full md:w-7/12 pt-3 md:pt-0">
        <div class="pb-5 md:pb-0 md:pl-9">
          <img src="/assets/images/work/light/our-best-works.svg" alt="Our Best Works" class="block mx-auto dark:hidden">
          <img src="/assets/images/work/dark/our-best-works.svg" alt="Our Best Works" class="hidden mx-auto dark:block">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- popular barand section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h3 class="mb-5 p-0 sm:p-3">Popular Brand</h3>
    <div class="w-full flex items-center justify-center space-x-7 md:hidden mt-3.5">
      <div class="navArrowPrevOS cursor-pointer" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">←</span>
      </div>
      <span class="h-8 mt-0.5 md:mt-2 border-l-2 border-current opacity-30"></span>
      <div class="navArrowNextOS cursor-pointer" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">→</span>
      </div>
    </div>
    <div class="ourServices_slider swiper pt-5 lg:pt-12">
      <div class="swiper-wrapper md:flex md:flex-wrap md:justify-center space-y-7 sm:space-y-0">
        <div class="swiper-slide h-auto w-full md:w-1/2 lg:w-1/3 sm:p-3 p-0">
          <div class="relative bg-white dark:bg-scalelot-primary cursor-pointer h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap 2xl:py-14 py-10 px-7 anim overflow-hidden">
            <div class="">
              <div class="mb-5">
                <img src="/assets/images/scalelot-logo.webp" class="block dark:hidden" alt="">
                <img src="/assets/images/hero-footer-logo.webp" class="hidden dark:block" alt="">
              </div>
              <p class="overflow-hidden">We conduct thorough data collection and analysis of your institution’s current strengths and differentiators.We conduct thorough data collection and analysis of your institution’s current strengths and differentiators.</p>
              <a href="#" class="text-scalelot-secondary hover:opacity-95 font-pop font-medium hover:underline inline-block pt-3.5">Read More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-1/2 lg:w-1/3 sm:p-3 p-0">
          <div class="relative bg-white dark:bg-scalelot-primary cursor-pointer h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap 2xl:py-14 py-10 px-7 anim overflow-hidden">
            <div class="">
              <div class="mb-5">
                <img src="/assets/images/scalelot-logo.webp" class="block dark:hidden" alt="">
                <img src="/assets/images/hero-footer-logo.webp" class="hidden dark:block" alt="">
              </div>
              <p class="overflow-hidden">We conduct thorough data collection and analysis of your institution’s current strengths and differentiators.We conduct thorough data collection and analysis of your institution’s current strengths and differentiators.</p>
              <a href="#" class="text-scalelot-secondary hover:opacity-95 font-pop font-medium hover:underline inline-block pt-3.5">Read More</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-1/2 lg:w-1/3 sm:p-3 p-0">
          <div class="relative bg-white dark:bg-scalelot-primary cursor-pointer h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap 2xl:py-14 py-10 px-7 anim overflow-hidden">
            <div class="">
              <div class="mb-5">
                <img src="/assets/images/scalelot-logo.webp" class="block dark:hidden" alt="">
                <img src="/assets/images/hero-footer-logo.webp" class="hidden dark:block" alt="">
              </div>
              <p class="overflow-hidden">We conduct thorough data collection and analysis of your institution’s current strengths and differentiators.We conduct thorough data collection and analysis of your institution’s current strengths and differentiators.</p>
              <a href="#" class="text-scalelot-secondary hover:opacity-95 font-pop font-medium hover:underline inline-block pt-3.5">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-5 lg:pt-12">
      <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
        <span class="bleft anim group-hover:left-0"></span>
        read more
        <span class="bright anim group-hover:-right-full"></span>
      </a>
    </div>
  </div>
</section>
<!-- case studies section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h3 class="mb-5 p-0 sm:p-3">Case Studies</h3>
    <div class="w-full flex items-center justify-center space-x-7 md:hidden mt-3.5">
      <div class="navArrowPrevOS cursor-pointer" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">←</span>
      </div>
      <span class="h-8 mt-0.5 md:mt-2 border-l-2 border-current opacity-30"></span>
      <div class="navArrowNextOS cursor-pointer" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-122f8af73275322f">
        <span class="block text-3xl md:text-4xl lg:text-5xl text-current">→</span>
      </div>
    </div>
    <div class="ourServices_slider swiper pt-5 lg:pt-12">
      <div class="swiper-wrapper md:flex md:flex-wrap md:justify-center space-y-7 sm:space-y-0">
        <div class="swiper-slide h-auto w-full md:w-1/2 lg:w-1/3 sm:p-3 p-0">
          <div class="relative bg-white dark:bg-scalelot-primary cursor-pointer h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap pb-10 anim overflow-hidden">
            <div class="">
              <div class="w-full h-64 mb-5 overflow-hidden">
                <img src="/assets/images/blog-big.webp" alt="">
              </div>
              <div class="px-5">
                <div class="">EDUCATION</div>
                <h5 class="pt-2">Tutor and Beyond</h5>
                <p class="pt-1">A marketplace connecting global tutors and students for online sessions.</p>
                <div class="flex flex-wrap space-x-2 mb-3 pt-2.5">
                  <div class="border-scalelot-primary dark:border-white border border-solid mb-2 sm:mb-0 px-3 py-1 rounded-3xl">html</div>
                  <div class="border-scalelot-primary dark:border-white border border-solid mb-2 sm:mb-0 px-3 py-1 rounded-3xl">css</div>
                  <div class="border-scalelot-primary dark:border-white border border-solid mb-2 sm:mb-0 px-3 py-1 rounded-3xl">Worldpress</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-1/2 lg:w-1/3 sm:p-3 p-0">
          <div class="relative bg-white dark:bg-scalelot-primary cursor-pointer h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap pb-10 anim overflow-hidden">
            <div class="">
              <div class="w-full h-64 mb-5 overflow-hidden">
                <img src="/assets/images/blog-big.webp" alt="">
              </div>
              <div class="px-5">
                <div class="">EDUCATION</div>
                <h5 class="pt-2">Tutor and Beyond</h5>
                <p class="pt-1">A marketplace connecting global tutors and students for online sessions.</p>
                <div class="flex flex-wrap space-x-2 mb-3 pt-2.5">
                  <div class="border-scalelot-primary dark:border-white border border-solid mb-2 sm:mb-0 px-3 py-1 rounded-3xl">React</div>
                  <div class="border-scalelot-primary dark:border-white border border-solid mb-2 sm:mb-0 px-3 py-1 rounded-3xl">Larvel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide h-auto w-full md:w-1/2 lg:w-1/3 sm:p-3 p-0">
          <div class="relative bg-white dark:bg-scalelot-primary cursor-pointer h-full rounded-2xl shadow-one flex flex-wrap items-start 2x1:items-center md:flex-nowrap pb-10 anim overflow-hidden">
            <div class="">
              <div class="w-full h-64 mb-5 overflow-hidden">
                <img src="/assets/images/blog-big.webp" alt="">
              </div>
              <div class="px-5">
                <div class="">EDUCATION</div>
                <h5 class="pt-2">Tutor and Beyond</h5>
                <p class="pt-1">A marketplace connecting global tutors and students for online sessions.</p>
                <div class="flex flex-wrap space-x-2 mb-3 pt-2.5">
                  <div class="border-scalelot-primary dark:border-white border border-solid mb-2 sm:mb-0 px-3 py-1 rounded-3xl">Ui-UX</div>
                  <div class="border-scalelot-primary dark:border-white border border-solid mb-2 sm:mb-0 px-3 py-1 rounded-3xl">Graphice</div>
                  <div class="border-scalelot-primary dark:border-white border border-solid mb-2 sm:mb-0 px-3 py-1 rounded-3xl">Figma</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-5 lg:pt-12">
      <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
        <span class="bleft anim group-hover:left-0"></span>
        read more
        <span class="bright anim group-hover:-right-full"></span>
      </a>
    </div>
  </div>
</section>
<!--Portfolio  section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28">
    <h3 class="mb-5">Portfolio </h3>
    <div class="flex flex-wrap">
      <div class="w-full inline-block">
        <div class="ourworkimg md:flex md:justify-between md:space-x-6">
          <div class="py-5 space-y-2.5">
            <img src="/assets/images/ourworkimg1.webp" class="w-full" />
            <p>Health & Fitness</p>
            <h5 class="font-pop">Contrary To Popular Belief</h5>
          </div>
          <div class="py-5 space-y-2.5">
            <img src="/assets/images/ourbestwork9.webp" class="w-full" />
            <p>Health & Fitness</p>
            <h5 class="font-pop">Contrary To Popular Belief</h5>
          </div>
          <div class="py-5 space-y-2.5">
            <img src="/assets/images/ourbestwork6.webp" class="w-full" />
            <p>Health & Fitness</p>
            <h5 class="font-pop">Contrary To Popular Belief</h5>
          </div>
        </div>
        <div class="ourworkimg md:flex md:justify-between md:space-x-6">
          <div class="py-5 space-y-2.5">
            <img src="/assets/images/ourworkimg3.webp" class="w-full" />
            <p>Health & Fitness</p>
            <h5 class="font-pop">Contrary To Popular Belief</h5>
          </div>
          <div class="py-5 space-y-2.5">
            <img src="/assets/images/ourbestwork5.webp" class="w-full" />
            <p>Health & Fitness</p>
            <h5 class="font-pop">Contrary To Popular Belief</h5>
          </div>
          <div class="py-5 space-y-2.5">
            <img src="/assets/images/ourbestwork7.webp" class="w-full" />
            <p>Health & Fitness</p>
            <h5 class="font-pop">Contrary To Popular Belief</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-5 lg:pt-12">
      <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
        <span class="bleft anim group-hover:left-0"></span>
        read more
        <span class="bright anim group-hover:-right-full"></span>
      </a>
    </div>
  </div>
</section>
<!--Products  section -->
<section>
  <div class="max-w-screen-2xl mx-auto px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28 items-center space-y-8">
    <div class="menu space-y-6 text-center w-full">
      <h3 class="mb-5 text-left p-0 sm:p-3">Products</h3>
    </div>
    <!-- Swiper -->
    <div class="px-5">
      <div class="swiper recentWork relative mb-6">
        <div class="swiper-wrapper">
          <div class="swiper-slide w-2/3 lg:max-w-xl">
            <a href="#" class="relative group block overflow-hidden bg-scalelot-secondary text-gray-100 rounded-3xl">
              <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45 bg-white opacity-0 group-hover:opacity-10 right-full block delay-150 group-hover:-right-9"></span>
              <img src="/assets/images/ourworkimg1.webp" class="w-full group-hover:opacity-30 anim" />
              <div class="absolute inset-x-0 bottom-0 w-full py-8 pl-20 group-hover:pl-9 opacity-0 group-hover:opacity-100 anim delay-300">
                <p>Health & Fitness</p>
                <h5 class="font-pop text-white">Contrary To Popular Belief</h5>
              </div>
            </a>
          </div>
          <div class="swiper-slide w-2/3 lg:max-w-xl">
            <a href="#" class="relative group block overflow-hidden bg-scalelot-secondary text-gray-100 rounded-3xl">
              <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45 bg-white opacity-0 group-hover:opacity-10 right-full block delay-150 group-hover:-right-9"></span>
              <img src="/assets/images/ourworkimg2.webp" class="w-full group-hover:opacity-30 anim" />
              <div class="absolute inset-x-0 bottom-0 w-full py-8 pl-20 group-hover:pl-9 opacity-0 group-hover:opacity-100 anim delay-300">
                <p>Health & Fitness</p>
                <h5 class="font-pop text-white">Contrary To Popular Belief</h5>
              </div>
            </a>
          </div>
          <div class="swiper-slide w-2/3 lg:max-w-xl">
            <a href="#" class="relative group block overflow-hidden bg-scalelot-secondary text-gray-100 rounded-3xl">
              <span class="absolute anim w-9 h-[calc(100%+300px)] top-1/2 transform -translate-y-1/2 -rotate-45 bg-white opacity-0 group-hover:opacity-10 right-full block delay-150 group-hover:-right-9"></span>
              <img src="/assets/images/ourworkimg3.webp" class="w-full group-hover:opacity-30 anim" />
              <div class="absolute inset-x-0 bottom-0 w-full py-8 pl-20 group-hover:pl-9 opacity-0 group-hover:opacity-100 anim delay-300">
                <p>Health & Fitness</p>
                <h5 class="font-pop text-white">Contrary To Popular Belief</h5>
              </div>
            </a>
          </div>
        </div>
        <div class="navArrowPrev bg-gradient-to-r from-scalelot-primary opacity-0 hover:opacity-75 anim cursor-pointer absolute h-full w-1/4 top-0 z-30 left-0"></div>
        <div class="navArrowNext bg-gradient-to-l from-scalelot-primary opacity-0 hover:opacity-75 anim cursor-pointer absolute h-full w-1/4 top-0 z-30 right-0"></div>
        <div class="recentWork-pagination -mb-2"></div>
      </div>
    </div>
    <div class="text-center pt-5 lg:pt-12">
      <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
        <span class="bleft anim group-hover:left-0"></span>
        read more
        <span class="bright anim group-hover:-right-full"></span>
      </a>
    </div>
  </div>
</section>
<!--Testimonials  section -->
<section>
  <div class="max-w-screen-2xl mx-auto flex flex-wrap px-5 lg:px-9 py-12 lg:py-16 xl:py-24 2xl:py-28 items-center">
    <div class="max-w-7xl mx-auto space-y-7 lg:space-y-8 xl:space-y-12">
      <h2 class="text-center w-full">What Our Clients Say</h2>
      <div class="max-w-xs md:max-w-2xl xl:max-w-7xl w-full mx-auto">
        <div class="swiper clientsSay">
          <div class="swiper-wrapper mb-6">
            <div class="swiper-slide h-auto">
              <div class="box flex flex-col justify-between dark:bg-scalelot-primary border border-gray-400 dark:border-0 rounded-2xl p-7 md:p-8 h-full">
                <div class="">
                  <div class="qoutet pb-5">
                    <svg id="quote" xmlns="http://www.w3.org/2000/svg" width="53.107" height="40" viewBox="0 0 53.107 40">
                      <g id="Group_80" data-name="Group 80" transform="translate(0 0.004)">
                        <g id="Group_79" data-name="Group 79" transform="translate(0 0)">
                          <path id="Path_97" data-name="Path 97" d="M13.26,81.038c.474-3.536,3.648-6.737,9.455-9.527l1.046-.5-4.287-7.794-.968.483C6.226,69.828,0,78.49,0,89.445a14.019,14.019,0,0,0,3.622,9.7,11.5,11.5,0,0,0,8.791,4.063A10.335,10.335,0,0,0,20.1,100.03a11.086,11.086,0,0,0-.031-15.353A12.187,12.187,0,0,0,13.26,81.038Zm5.233,17.474a8.062,8.062,0,0,1-6.08,2.5,9.225,9.225,0,0,1-7.125-3.327A11.749,11.749,0,0,1,2.23,89.445,22.524,22.524,0,0,1,6.5,75.972a34.11,34.11,0,0,1,12.054-9.823l2.148,3.9c-6.459,3.333-9.731,7.34-9.731,11.92v.981l.99.11a10.071,10.071,0,0,1,6.484,3.109,8.915,8.915,0,0,1,.052,12.338Z" transform="translate(0 -63.215)" fill="#ee3139"/>
                        </g>
                      </g>
                      <g id="Group_82" data-name="Group 82" transform="translate(29.359)">
                        <g id="Group_81" data-name="Group 81" transform="translate(0 0)">
                          <path id="Path_98" data-name="Path 98" d="M299.883,81.011c.468-3.539,3.616-6.742,9.376-9.532l1.03-.5-4.18-7.8-.977.486c-12.336,6.129-18.59,14.792-18.59,25.748a13.928,13.928,0,0,0,3.668,9.708,11.626,11.626,0,0,0,8.827,4.058,10.2,10.2,0,0,0,7.656-3.187,11.141,11.141,0,0,0-.078-15.347A12.149,12.149,0,0,0,299.883,81.011Zm5.187,17.477a7.931,7.931,0,0,1-6.033,2.5,9.348,9.348,0,0,1-7.171-3.332,11.66,11.66,0,0,1-3.094-8.238,22.452,22.452,0,0,1,4.286-13.471,34.234,34.234,0,0,1,12.106-9.821l2.089,3.9c-6.412,3.334-9.661,7.342-9.661,11.923v.979l.987.112a10,10,0,0,1,6.4,3.109,8.969,8.969,0,0,1,.087,12.344Z" transform="translate(-286.541 -63.181)" fill="#ee3139"/>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <p class="pb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of</p>
                </div>
                <div class="user flex items-center">
                  <!-- <div class="image mr-5">
                    <img src="/assets/images/client.webp" alt="" class="rounded-full w-16 h-16 object-cover">
                  </div> -->
                  <div class="user-text">
                    <h5 class="">Rachel M. Dixon</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto">
              <div class="box flex flex-col justify-between dark:bg-scalelot-primary border border-gray-400 dark:border-0 rounded-2xl p-7 md:p-8 h-full">
                <div class="">
                  <div class="qoutet pb-5">
                    <svg id="quote" xmlns="http://www.w3.org/2000/svg" width="53.107" height="40" viewBox="0 0 53.107 40">
                      <g id="Group_80" data-name="Group 80" transform="translate(0 0.004)">
                        <g id="Group_79" data-name="Group 79" transform="translate(0 0)">
                          <path id="Path_97" data-name="Path 97" d="M13.26,81.038c.474-3.536,3.648-6.737,9.455-9.527l1.046-.5-4.287-7.794-.968.483C6.226,69.828,0,78.49,0,89.445a14.019,14.019,0,0,0,3.622,9.7,11.5,11.5,0,0,0,8.791,4.063A10.335,10.335,0,0,0,20.1,100.03a11.086,11.086,0,0,0-.031-15.353A12.187,12.187,0,0,0,13.26,81.038Zm5.233,17.474a8.062,8.062,0,0,1-6.08,2.5,9.225,9.225,0,0,1-7.125-3.327A11.749,11.749,0,0,1,2.23,89.445,22.524,22.524,0,0,1,6.5,75.972a34.11,34.11,0,0,1,12.054-9.823l2.148,3.9c-6.459,3.333-9.731,7.34-9.731,11.92v.981l.99.11a10.071,10.071,0,0,1,6.484,3.109,8.915,8.915,0,0,1,.052,12.338Z" transform="translate(0 -63.215)" fill="#ee3139"/>
                        </g>
                      </g>
                      <g id="Group_82" data-name="Group 82" transform="translate(29.359)">
                        <g id="Group_81" data-name="Group 81" transform="translate(0 0)">
                          <path id="Path_98" data-name="Path 98" d="M299.883,81.011c.468-3.539,3.616-6.742,9.376-9.532l1.03-.5-4.18-7.8-.977.486c-12.336,6.129-18.59,14.792-18.59,25.748a13.928,13.928,0,0,0,3.668,9.708,11.626,11.626,0,0,0,8.827,4.058,10.2,10.2,0,0,0,7.656-3.187,11.141,11.141,0,0,0-.078-15.347A12.149,12.149,0,0,0,299.883,81.011Zm5.187,17.477a7.931,7.931,0,0,1-6.033,2.5,9.348,9.348,0,0,1-7.171-3.332,11.66,11.66,0,0,1-3.094-8.238,22.452,22.452,0,0,1,4.286-13.471,34.234,34.234,0,0,1,12.106-9.821l2.089,3.9c-6.412,3.334-9.661,7.342-9.661,11.923v.979l.987.112a10,10,0,0,1,6.4,3.109,8.969,8.969,0,0,1,.087,12.344Z" transform="translate(-286.541 -63.181)" fill="#ee3139"/>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <p class="pb-5">There are many variations of passages of Lorem Ipsum available,</p>
                </div>
                <div class="user flex items-center">
                  <!-- <div class="image mr-5">
                    <img src="/assets/images/client.webp" alt="" class="rounded-full w-16 h-16 object-cover">
                  </div> -->
                  <div class="user-text">
                    <h5 class="">Rachel M. Dixon</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto">
              <div class="box flex flex-col justify-between dark:bg-scalelot-primary border border-gray-400 dark:border-0 rounded-2xl p-7 md:p-8 h-full">
                <div class="">
                  <div class="qoutet pb-5">
                    <svg id="quote" xmlns="http://www.w3.org/2000/svg" width="53.107" height="40" viewBox="0 0 53.107 40">
                      <g id="Group_80" data-name="Group 80" transform="translate(0 0.004)">
                        <g id="Group_79" data-name="Group 79" transform="translate(0 0)">
                          <path id="Path_97" data-name="Path 97" d="M13.26,81.038c.474-3.536,3.648-6.737,9.455-9.527l1.046-.5-4.287-7.794-.968.483C6.226,69.828,0,78.49,0,89.445a14.019,14.019,0,0,0,3.622,9.7,11.5,11.5,0,0,0,8.791,4.063A10.335,10.335,0,0,0,20.1,100.03a11.086,11.086,0,0,0-.031-15.353A12.187,12.187,0,0,0,13.26,81.038Zm5.233,17.474a8.062,8.062,0,0,1-6.08,2.5,9.225,9.225,0,0,1-7.125-3.327A11.749,11.749,0,0,1,2.23,89.445,22.524,22.524,0,0,1,6.5,75.972a34.11,34.11,0,0,1,12.054-9.823l2.148,3.9c-6.459,3.333-9.731,7.34-9.731,11.92v.981l.99.11a10.071,10.071,0,0,1,6.484,3.109,8.915,8.915,0,0,1,.052,12.338Z" transform="translate(0 -63.215)" fill="#ee3139"/>
                        </g>
                      </g>
                      <g id="Group_82" data-name="Group 82" transform="translate(29.359)">
                        <g id="Group_81" data-name="Group 81" transform="translate(0 0)">
                          <path id="Path_98" data-name="Path 98" d="M299.883,81.011c.468-3.539,3.616-6.742,9.376-9.532l1.03-.5-4.18-7.8-.977.486c-12.336,6.129-18.59,14.792-18.59,25.748a13.928,13.928,0,0,0,3.668,9.708,11.626,11.626,0,0,0,8.827,4.058,10.2,10.2,0,0,0,7.656-3.187,11.141,11.141,0,0,0-.078-15.347A12.149,12.149,0,0,0,299.883,81.011Zm5.187,17.477a7.931,7.931,0,0,1-6.033,2.5,9.348,9.348,0,0,1-7.171-3.332,11.66,11.66,0,0,1-3.094-8.238,22.452,22.452,0,0,1,4.286-13.471,34.234,34.234,0,0,1,12.106-9.821l2.089,3.9c-6.412,3.334-9.661,7.342-9.661,11.923v.979l.987.112a10,10,0,0,1,6.4,3.109,8.969,8.969,0,0,1,.087,12.344Z" transform="translate(-286.541 -63.181)" fill="#ee3139"/>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <p class="pb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of</p>
                </div>
                <div class="user flex items-center">
                  <!-- <div class="image mr-5">
                    <img src="/assets/images/client.webp" alt="" class="rounded-full w-16 h-16 object-cover">
                  </div> -->
                  <div class="user-text">
                    <h5 class="">Rachel M. Dixon</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto">
              <div class="box flex flex-col justify-between dark:bg-scalelot-primary border border-gray-400 dark:border-0 rounded-2xl p-7 md:p-8 h-full">
                <div class="">
                  <div class="qoutet pb-5">
                    <svg id="quote" xmlns="http://www.w3.org/2000/svg" width="53.107" height="40" viewBox="0 0 53.107 40">
                      <g id="Group_80" data-name="Group 80" transform="translate(0 0.004)">
                        <g id="Group_79" data-name="Group 79" transform="translate(0 0)">
                          <path id="Path_97" data-name="Path 97" d="M13.26,81.038c.474-3.536,3.648-6.737,9.455-9.527l1.046-.5-4.287-7.794-.968.483C6.226,69.828,0,78.49,0,89.445a14.019,14.019,0,0,0,3.622,9.7,11.5,11.5,0,0,0,8.791,4.063A10.335,10.335,0,0,0,20.1,100.03a11.086,11.086,0,0,0-.031-15.353A12.187,12.187,0,0,0,13.26,81.038Zm5.233,17.474a8.062,8.062,0,0,1-6.08,2.5,9.225,9.225,0,0,1-7.125-3.327A11.749,11.749,0,0,1,2.23,89.445,22.524,22.524,0,0,1,6.5,75.972a34.11,34.11,0,0,1,12.054-9.823l2.148,3.9c-6.459,3.333-9.731,7.34-9.731,11.92v.981l.99.11a10.071,10.071,0,0,1,6.484,3.109,8.915,8.915,0,0,1,.052,12.338Z" transform="translate(0 -63.215)" fill="#ee3139"/>
                        </g>
                      </g>
                      <g id="Group_82" data-name="Group 82" transform="translate(29.359)">
                        <g id="Group_81" data-name="Group 81" transform="translate(0 0)">
                          <path id="Path_98" data-name="Path 98" d="M299.883,81.011c.468-3.539,3.616-6.742,9.376-9.532l1.03-.5-4.18-7.8-.977.486c-12.336,6.129-18.59,14.792-18.59,25.748a13.928,13.928,0,0,0,3.668,9.708,11.626,11.626,0,0,0,8.827,4.058,10.2,10.2,0,0,0,7.656-3.187,11.141,11.141,0,0,0-.078-15.347A12.149,12.149,0,0,0,299.883,81.011Zm5.187,17.477a7.931,7.931,0,0,1-6.033,2.5,9.348,9.348,0,0,1-7.171-3.332,11.66,11.66,0,0,1-3.094-8.238,22.452,22.452,0,0,1,4.286-13.471,34.234,34.234,0,0,1,12.106-9.821l2.089,3.9c-6.412,3.334-9.661,7.342-9.661,11.923v.979l.987.112a10,10,0,0,1,6.4,3.109,8.969,8.969,0,0,1,.087,12.344Z" transform="translate(-286.541 -63.181)" fill="#ee3139"/>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <p class="pb-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of</p>
                </div>
                <div class="user flex items-center">
                  <!-- <div class="image mr-5">
                    <img src="/assets/images/client.webp" alt="" class="rounded-full w-16 h-16 object-cover">
                  </div> -->
                  <div class="user-text">
                    <h5 class="">Rachel M. Dixon</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clientsSay-pagination -mb-2"></div>
        </div>
      </div>
      <div class="text-center pt-5 lg:pt-12">
        <a href="/contact-us" type="submit" class="btn-border group anim rounded-full border border-current">
          <span class="bleft anim group-hover:left-0"></span>
          read more
          <span class="bright anim group-hover:-right-full"></span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- contact us  -->
<%- include ("components/lets_talk.ejs") %>